<div class="sub-nav-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
    <li><a href="#changePassword" data-toggle="tab">Change Password</a></li>
  </ul>
      <hr/>

  <div class="tab-content">
    <div class="tab-pane active" id="general">
      <app-my-profile-genral [profileDetails]="profileDetails"></app-my-profile-genral>
    </div>
    <div class="tab-pane" id="changePassword">
      <app-my-profile-change-password></app-my-profile-change-password>
    </div>
  </div>
</div>
