<div class="responsive-table">
  <div class="sort form-inline">
    <div class="date-group ">
       <label><span class="hidden-sm hidden-xs ">Game transactions</span> between</label>
      <div class="input-holder has-feedback">
        <input type="text" class="form-control" id="startDate-game">
        <i class="ion-android-calendar form-control-feedback"></i>
      </div>
    </div>
    <div class="date-group   ">
      <label>and </label>
      <div class="input-holder has-feedback">
        <input type="text" class="form-control" id="endDate-game">
        <i class="ion-android-calendar form-control-feedback"></i>
      </div>
    </div>
    <!-- <div class="spacer"></div>
    <div class="date-group search-box">
      <label>Search </label>
      <div class="input-holder has-feedback">
        <input type="text" class="form-control" id="search-game">
        <i class="ionicons ion-ios-search form-control-feedback"></i>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="date-group">
      <button class="btn btn-xs btn-ghost">Export</button>
    </div> -->

<!--     <div class="spacer"></div>
 -->  </div>
  <hr/>
  <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Game</th>
        <th scope="col">Vendor</th>
        <th scope="col">Bonus</th>
        <th scope="col">Bet</th>
        <th scope="col">Win</th>
      </tr>
    </thead>
    <tbody *ngIf="transactionDetails && transactionDetails.length > 0">
      <tr *ngFor="let transaction of transactionDetails">
        <td data-label="ID">{{transaction.sessionId}}</td>
        <td data-label="Date">{{transaction.transactionTime * 1000 | date:"yyyy-MM-dd hh:mm"}}</td>
        <td data-label="Type">{{transaction.winAmount > 0 ? 'Winning' : 'Bet'}}</td>
        <td data-label="Game">{{transaction.gameName ? transaction.gameName : '&nbsp;'}}</td>
        <td data-label="Vendor">{{transaction.vendorName ? transaction.vendorName : '&nbsp;'}}</td>
        <td data-label="Bonus">{{transaction.bonusAmount ? transaction.txnCurrency + ' ' +transaction.bonusAmount : '&nbsp;'}}</td>
        <td data-label="Bet">{{transaction.txnCurrency}} {{transaction.betAmount}}</td>
        <td data-label="Win">{{transaction.txnCurrency}} {{transaction.winAmount && transaction.winAmount > 0 ? transaction.winAmount  : '0'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-left">
          <span style="text-align:left;" *ngIf="transactionDetails && transactionDetails.length <= 0">No Transactions Available</span>
        </td>
        <td colspan="4" class="text-right"  *ngIf="(transactionDetails && transactionDetails.length > 0) || transactionRequestData.index > 0">
          <button class="btn btn-sm btn-ghost" (click)="getTransactionDetailsOnChange('less')" [disabled]="transactionRequestData.index == 0 ? 'true' : ''">Previous</button>
          <button class="btn btn-sm btn-ghost" (click)="getTransactionDetailsOnChange('more')" [disabled]="transactionDetails && (transactionDetails.length > 0 && transactionDetails.length >= transactionRequestData.size) ? '' : 'true'">Next</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
