  @import "~variables.scss";
  @import "~mixin.scss";

  .saved-card-holder {
    max-height: 130px;
    overflow-y: auto;
    @include customscrollbars;
    .saved-cc {
      float: left;
      width: 100%;
      margin: 10px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
      /*  margin-bottom: 0;*/
      }
      &:only-child{margin: 10px 0;}
    }
    label{
    	color:#FFFFFF ;
    	font-size: 14px;
    	span{
    		position: relative;
    		top: 3px;
    	}
    }
  }


  @media only screen and (max-width: 359px) {
    .saved-card-holder {}
  }
