<div class="sub-nav-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#currentBonus" data-toggle="tab" (click)="getBonusDetails('active')">CURRENT BONUSES</a></li>
    <li><a href="#historyBonus" data-toggle="tab" (click)="getBonusDetails('history')">BONUS HISTORY</a></li>
  </ul>
  <hr/>
  <div class="tab-content">
    <div class="tab-pane active" id="currentBonus">
      <app-current-bonus *ngIf="activeBonusList" [activeBonusList]="activeBonusList" [profileDetails]="profileDetails" [currencyDetails]="currencyDetails" (getBonusDetails)="getBonusDetails($event)"></app-current-bonus>
      <app-jkr-loader *ngIf="!activeBonusList"></app-jkr-loader>
    </div>
    <div class="tab-pane" id="historyBonus">
      <app-history-bonus *ngIf="bonusHistoryList" [bonusHistoryList]="bonusHistoryList" (getBonusDetails)="getBonusDetails($event)"></app-history-bonus>
      <app-jkr-loader *ngIf="!bonusHistoryList"></app-jkr-loader>
    </div>
  </div>
</div>
