<div *ngIf="balanceDetails && profileDetails">
  <div class="sub-nav-tabs fund-small">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#fundsOverView" data-toggle="tab">FUNDS OVERVIEW</a></li>
    </ul>
    <hr/>
    <div class="tab-content">
      <div class="tab-pane active balance-details" id="fundsOverView">
        <div class="table-holder">
          <table class="table  ">
            <tr>
              <th class="withdrawable-money"> {{profileDetails.currency}} {{balanceDetails.cash | number:'1.2-2' }}</th>
              <td class="description">
                <span class="pull-left">
                <p class="bonus-name"> Available to withdraw</p>
                <p class="bonus-description blue-text">This amount may not be withdrawn if you have a positive casino bonus balance</p>
              </span>
                <span class="pull-right" *ngIf="balanceDetails.cash > 30">
                <button class="btn btn-ghost btn-md" (click)="openCasiher('withdrawal')">Withdraw</button>
              </span>
              </td>
            </tr>
            <tr>
              <th class="bonus-money"> {{profileDetails.currency}} {{balanceDetails.bonus | number:'1.2-2' }}</th>
              <td class="description">
                <p class="bonus-name">Casino Bonuses</p>
                <p class="bonus-description ">The total amount of money in casino bonuses</p>
              </td>
            </tr>
            <tr>
              <th class="total-money"> {{profileDetails.currency}} {{balanceDetails.cash + balanceDetails.bonus | number:'1.2-2' }}</th>
              <td class="description">
                <span class="pull-left">    <p class="bonus-name">Total</p>
              <p class="bonus-description ">The total amount of money including bonuses</p></span>
                <span class="pull-right">
                <button class="btn btn-ghost btn-md deposit-b" (click)="openCasiher('deposit')">Deposit</button>

              </span>
              </td>
            </tr>
          </table>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
