@import "~variables.scss";


.balance-details {
  .btn{
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 160px;
  }
  .table-holder {
    margin: -10px;
  }
  table {
    margin-bottom: 0;
    border-spacing: 10px;
    border-collapse: separate;
    td,
    th {
      vertical-align: middle;
      border: 1px solid $primary-color;
      padding: 15px 10px;
    }
  }
  /*  .withdrawable-money {
    background-color: #428d3f;
  }
  .bonus-money {
    background-color: #d07428;
  }
  .total-money {
    background-color: #456c93;
  }*/
  .withdrawable-money,
  .bonus-money,
  .total-money {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
  .description {
    /*    background-color: #e6e7e7;*/
    p {
      margin: 0;

      &.bonus-name {
        font-size: 18px;
        color: $primary-color;
        text-transform: uppercase;
       }
      &.bonus-description {

        color: #999;
        font-size: 12px;
        margin-top: 5px;
        &.blue-text{
          color: $secondary-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .balance-details {
    .btn{
      margin-top: 20px;
    }
    table {
      td {
        width: 56%
      }
      th {
        width: 44%
      }
    }
    .description {
      /*      background-color: #093724;
      color: #FFF;
      p {

        &.bonus-description {
          display: none;
        }
      }*/
    }
  }
}
