<div class="games-container " id="gamesContainer" *ngIf="listType == 'grid'">
  <div class="games-row" *ngIf="selectedGames && selectedGames.length > 0">
    <div id="{{category}}-{{game.gameCode}}" *ngFor="let game of selectedGames;let index=index" (touchstart)="doNothing()">
      <h1 class='game-vendor-name'  *ngIf="windowType == 'desktop' && this.sortBy == 'vendorName' && showProviderName(selectedGames,index)" [ngClass]="{'no-margin-space':index == 0}">{{game.vendorName}}</h1>
      <div  class="game-card" >
        <div class="game-card__content" (click)="openGame(game.pristineGameId)">
          <div class="game-card__action" >
            <div class="game-card__action-btn" title="{{game.name}}">
              <button class="btn game-card__action-btn--play">Play Now</button>
            </div>
          </div>

          <div class="ribbon"><span [ngClass]="game.isHot?'hot':game.isNew?'new' : ''">{{game.isHot?'HOT':game.isNew?'NEW' : ''}}</span></div>

          <div class="game-card__img">
            <img class="small-screen-banner" *ngIf="windowType == 'mobile'" src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}_mobile.png" alt=" {{game.name}}" title="{{game.name}}" >
            <img class="large-screen-banner"  *ngIf="windowType == 'desktop'" src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}" >
          </div>
        </div>
        <div class="game-card__text">
          <span class="game-card__favicon" [ngClass]="{'active':allFavGames[game.pristineGameId]}" (click)="toggleFavouriteForGame(game.pristineGameId,game.gameCode)">
            <i class="icon-star-line"></i>
          </span>
          <span class="game-card--name">
            {{game.name}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="games-row"  *ngIf="!selectedGames || selectedGames.length <= 0">
    <h1>No Games Found</h1>
  </div>
</div>
<div class="games-container list" id="gamesContainer" *ngIf="listType == 'list'">
  <div class="games-row list" *ngIf="selectedGames && selectedGames.length > 0">
    <div id="list-{{category}}-{{game.gameCode}}" *ngFor="let game of selectedGames;let index=index">
      <h1 class='game-vendor-name' *ngIf="windowType == 'desktop' && this.sortBy == 'vendorName' && showProviderName(selectedGames,index)" [ngClass]="{'no-margin-space':index == 0}">{{game.vendorName}}</h1>
      <div class="game-card list">
        <div class="game-card__content">
          <div class="game-card__text">
            <span class="game-card__favicon" [ngClass]="{'active':allFavGames[game.pristineGameId]}" (click)="toggleFavouriteForGame(game.pristineGameId,game.gameCode)">
              <i class="icon-star-line"></i>
            </span>
            <span class="  game-name-list"  (click)="openGame(game.pristineGameId)">
              {{game.name}}
              <span class="game-ribbon" [ngClass]="game.isHot?'hot':game.isNew?'new' : ''"> {{game.isHot?'HOT':game.isNew?'NEW' : ''}}</span>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="games-row"  *ngIf="!selectedGames || selectedGames.length <= 0">
    <h1>No Games Found</h1>
  </div>
</div>
