@import "~variables.scss";
@import "~mixin.scss";

.games-container {
  float: right;
  width: calc(100% - 200px);
}

.game-category {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: none;
/*  &--title,
  .games-display {
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    
  }*/
}

.games-row {
  margin-left: -10px;
  margin-right: -10px;
  width: 100%;
  clear: both;
  display: table;
  height: 100%;
  margin-bottom: 20px;
  .game-card {
    width: 188px;
    /*     height: 125px;*/
    float: left;
    margin: 10px 10px 0;
    box-sizing: border-box;
    display: inline-block;
    &__content {
      position: relative;
      cursor: pointer;
       &:hover{
        .game-card__action-btn{
          display:block;
        }
      }
    }
    &__img {
      width: 100%;
      height: 125px;
      line-height: 125px;
      overflow: hidden;

      text-align: center;
      font-size: 12px;
      font-weight: bold;
      background-color: $game-card-bg-color;
      border-radius: 3px;
      color: $game-card-text-color;
      img {
        width: 100%;
        height: 125px;
        border-radius: 3px;
      }
    }
    &__action {
      
    }
    &__action-btn {
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      background-color: $game-card-hover-bg-color;
      height: 100%;
      width: 100%;
      text-align: center;
      transition: all .3s ease-in-out;
      padding: 10px;
      border-radius: 3px;


      &--play {
         text-transform: uppercase;
          text-align: center;
        cursor: pointer; 
        position: relative;
        top: calc((50% + 18px) - 34px);
        min-width: 130px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        @extend .btn-primary;
        background-color:$game-card-play-btn-bg-color ;
        color: $game-card-play-btn-text-color;
        &:hover{
          background-color:$game-card-play-btn-hover-bg-color;
          color: $game-card-play-btn-hover-text-color;

        }
    
      }
    }
    &__text {
      margin-top: 6px;
    }
    &__favicon {
      font-size: 24px;
      float: left;
      cursor: pointer;


      i {
        color: $game-card-favorite-icon-color;
        position: relative;
        z-index: 1;
      }
      &.active,
      &:hover {
        i {
      
 
          &:before {
           
             content: '';
              color:$game-card-favorite-selected-icon-color;
            content: '\E802';
            font-family: "icon-font";
            font-style: normal;
          }
        }
      }
    }
    &--name {
      font-size: 12px;
      font-weight: bold;
      
      text-transform: uppercase;
      padding-left: 8px;
      color: $game-card-title-text-color;
      width: calc(100% - 24px);
      float: right;
      line-height: 1.1;
      margin-top: 8px;
      max-height: 27px;
      min-height: 27px;

      text-overflow: ellipsis;
      overflow: hidden;
    }
    &.list {
      margin: 0;
      display: inline-block;

      margin-bottom: 5px;
      width: 50%;
      float: left;
      .game-name-list {
        font-size: 12px;
        font-weight: bold;
        
        text-transform: uppercase;
        padding-left: 8px;
        color: rgba($game-card-title-text-color, 0.8);
        line-height: 1.2;
        margin-top: 5px;
        float: right;
        width: calc(100% - 24px);


        &:hover {
          color: rgba($game-card-title-text-color, 1);
        }
        .game-ribbon {
          border-radius: 2px;
          font-size: 10px;
          padding: 2px 5px;
          margin-left: 20px;
          &.hot {
            background: $game-ribbon-hot;
            color: $game-ribbon-hot-text-color;
          }
          &.new {
            background: $game-ribbon-new;
            color: $game-ribbon-new-text-color;
          }
          &.live {
            background: $game-ribbon-live;
            color: $game-ribbon-live-text-color;
          }
          &.featured {
            background: $game-ribbon-featured;
            color: $game-ribbon-featured-text-color;
          }
          &.offline {
            background: $game-ribbon-offline;
            color: $game-ribbon-offline-text-color;
          }
        }
      }
    }
  }
  .game-vendor-name {
    color: $game-card-title-text-color;
    text-transform: uppercase;
    font-size: 18px;
    margin: 9px 10px 10px 0;
    font-weight: bold;
    float: left;
    width: 100%;
    margin-top: 30px;
    &.no-margin-space {
      margin-top: 0;
    }
  }
}



@media only screen and (max-width: 991px) {
  .games-container {
    width: 100%;
    /*  overflow-x: scroll;*/
  }
  .game-category {
    display: block;
  }
  .games-row {
    /*    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-flex;*/
    /* margin: auto;*/
    /* padding: 0 5px;*/
     width: calc(100% + 20px);
     

    .game-card {
      width: 75px;
      height: 106px;
      margin: 5px 6px;
      /*  margin: 5px 6px;*/
      &__content {
        .ribbon {
          display: none;
        }
      }
      &__favicon {
        display: none;
      }
      &--name {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }
      &__action-btn {
        visibility: hidden;
      }
      &__img {
        width: 75px;
        height: 75px;
        line-height: 75px;
        border-radius: 20px;


        img {
          width: 75px;
          height: 75px;
          border-radius: 20px;
        }
      }

      &__text {
        margin-top: 0;
      }
      &--name {
        text-transform: none;
        font-size: 9px;
        line-height: 14px;
        min-height: auto;
      }
    }
  }
}
