<div class="responsive-table">
  <div class="sort form-inline">
    <div class="date-group ">
      <label><span class="hidden-sm hidden-xs ">Account transactions</span> between</label>
      <div class="input-holder has-feedback">
        <input type="text" class="form-control" id="startDate-acc">
        <i class="ion-android-calendar form-control-feedback"></i>
      </div>
    </div>
    <div class="date-group   ">
      <label>and </label>
      <div class="input-holder has-feedback">
        <input type="text" class="form-control" id="endDate-acc">
        <i class="ion-android-calendar form-control-feedback"></i>
      </div>
    </div>
    <!-- <div class="spacer"></div>
    <div class="date-group search-box ">
      <label>Search </label>
      <div class="input-holder has-feedback">
        <input type="text" class="form-control" id="search-acc">
        <i class="ionicons ion-ios-search form-control-feedback"></i>
      </div>
    </div> -->
<!-- ß -->
  </div>
  <hr/>
  <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Amount</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody *ngIf="transactionDetails && transactionDetails.length > 0">
      <tr *ngFor="let transaction of transactionDetails">
        <td data-label="ID">{{transaction.id}}</td>
        <td data-label="Date">{{transaction.time | date:"yyyy-MM-dd hh:mm"}}</td>
        <td data-label="Type">{{transaction.operation == "CR" ? 'Deposit' : transaction.operation == "DB" ? 'Withdraw' : transaction.operation}}</td>
        <td data-label="Description">{{transaction.operation_name}}</td>
        <td data-label="Status">{{transaction.status}}</td>
        <td data-label="Amount">{{currencyDetails ? currencyDetails.symbol : ''}} {{transaction.amount}}</td>
        <td data-label="Balance">{{currencyDetails ? currencyDetails.symbol : ''}} {{transaction.currentBalance}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-left">
          <span style="text-align:left;" *ngIf="transactionDetails && transactionDetails.length <= 0">No Transactions Available</span>
        </td>
        <td colspan="4" class="text-right" *ngIf="(transactionDetails && transactionDetails.length > 0) || transactionRequestData.index > 0">
          <button class="btn btn-sm btn-ghost" (click)="getTransactionDetailsOnChange('less')" [disabled]="transactionRequestData.index == 0 ? 'true' : ''">Previous</button>
          <button class="btn btn-sm btn-ghost" (click)="getTransactionDetailsOnChange('more')" [disabled]="transactionDetails && (transactionDetails.length > 0 && transactionDetails.length >= transactionRequestData.size) ? '' : 'true'">Next</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
