  @import "~variables.scss";

  @import "~mixin.scss";


  .signUpModal {

    * {}
    form {
      h1 {
        color: $popup-title-text-color;
        font-weight: 400;
        text-align: center;
        font-size: 20px;
        margin: 0;
        padding: 15px 0;
      }
      h4 {
        margin: 15px auto;
        font-size: 16px;
        text-align: center;
        color: $popup-title-text-color;
      }
    }
    .modal-dialog {
      width: 400px;
    }
    .modal-content {
      background: $popup-bg-color;
      min-height: 230px;
      /* box-shadow: 4px 4px 15px #000;*/
      border: transparent;
      border-radius: 0;
      padding: 40px;
      box-shadow: none;
      .modal-header {
        padding: 0;
        .back-btn {
          background: transparent;
          border: 0;
          color: #FFF;
          font-size: 18px;
          font-weight: normal;
          /*  padding: 10px;*/
          margin-top: 6px;
          opacity: 1;
          position: absolute;
          left: 0;
          top: 8px;

          * {
            font-family: 'Glyphicons Halflings';
          }
          &:hover {
            cursor: pointer;
            opacity: 1;
            color: $primary-color;
          }
        }

        border:0;
      }
      .modal-title {
        color: $popup-title-text-color;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
      }
      .modal-body {
        padding: 0;

       /* min-height: 360px;*/
        .footer-note {
          margin-top: 20px;
          p {
            font-size: 13px;
            line-height: 1.3;
            color: $signup-popup-footer-text-color;
            margin-bottom: 10px;
            position: relative;
            margin-left: 15px;
            &:first-child {
              margin-left: 0;
              &:before {
                display: none;
              }
            }

            &:before {
              position: absolute;
              content: '-';
              left: -15px;
              top: -4px;
              display: block;
              font-size: 18px;
            }
          }
          .checkbox {
            padding-left: 5px;
            label {
              &:after,
              &:before {
                margin-left: 0;
              }
              &:before {
                width: 20px;
                height: 20px;
              }
              &:after {
                width: 21px;
                height: 21px;
                font-size: 11px;
                padding-top: 3px;
                padding-left: 4px;
              }
            }
          }
        }
        .footer-msg {
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
          margin-top: 20px;
          color: $signup-popup-footer-text-color;
          clear: both;
          width: 100%;
          &.tc {
            font-size: 15px;
            line-height: 18px;
          }
          a {
            color: $signup-popup-footer-linktext-color;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .signUpProgressBar {
          min-height: 30px;
          position: relative;
          border-radius: 0;
          width: 100%;
          border: 2px solid $signup-popup-progress-bar-border-color;
          margin: 20px auto;
          background: $signup-popup-progress-bar-bg-color;
          .progress-bar {
            background: $signup-popup-progress-bar-fill-bg-color;
          }
        }
        .form-input {
          .form-control-feedback {
            line-height: 50px;
          }
          .form-group {
            margin-bottom: 5px;
            margin-top: 5px;
            float: left;
            width: 100%;

            box-sizing: border-box;
            .input-group {
              width: 100%;
            }
          }
          .gender-row {

            float: left;
            width: 100%;
            line-height: 1;
            display: inline-flex;
            justify-content: space-between;


            .gender-space {
              float: left;
              width: calc(50% - 50px);
              .gm-label {
                float: right;
                padding-left: 5px;
              }
            }

            .gender-label {
              position: relative;
              top: 5px;

              display: inline-block;
              width: calc(100% - 30px);
              float: left;
              &.gender-label-male {
                right: 5px;
                /* margin-right: 10px;*/
                text-align: right;
                padding-left: 0;
                &:before,
                &:after {
                  display: none;
                }
              }

              &.gender-label-female {

                margin-right: 0;
                text-align: left;
              }
            }

            .gender-label,
            .or-space {
              color: #FFF;
              font-size: 16px;
              line-height: 16px;
              font-weight: 400;
            }
            .text-l {
              margin-right: 5px;
            }
            .or-space {
              width: 100px;

              padding: 10px;
              position: relative;
              text-align: center;
              margin-top: 6px;

              span {
                display: inline-block;
                position: relative;

                /*            &:after,
               &:before {
                 content: "";
                 position: absolute;
                 border-bottom: 1px solid #000;
                 top: 50%;
                 width: 100%;
               }
               &:before {
                 right: 100%;
                 margin-right: 10px;
               }

               &:after {
                 left: 100%;
                 margin-left: 10px;
               }*/
              }
            }
          }


          .label-text {
            color: $signup-popup-lable-text-color;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            text-align: center;
            width: 100%;
            margin-top: 8px;
            margin-bottom: 17px;
          }
          .cta-btn {


            width: 100%;

            margin-top: 20px
          }

          [class*="col-xs-"] {
            padding: 0;
            &:first-child {
              margin-right: 5px;
            }
            &:nth-child(2) {
              margin-left: 5px;
            }
          }

          .name-field {
            &.col-xs-5 {
              width: calc(41.66666667% - 5px);
            }
            &.col-xs-7 {
              width: calc(58.33333333% - 5px);
            }
            &.col-xs-6 {
              width: calc((100% / 2) - 5px);
            }
          }
        }

        .loginBoxModal {}
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .signUpModal {
      .modal-dialog {
        width: 100vw;
        height: 100vh;
        margin: 0;
      }
      .modal-header {
        padding: 0;
      }
      .modal-content {
        height: 100%;
        background: $site-body-bg-image no-repeat center center;
        background-size: cover;
        padding: 0;

        .modal-body {
          @include modalViewFitOnSmallScreen;
          flex-direction: column;
        }
        .modal-header {
          .back-btn {
            margin-top: -2px;
            padding: 10px;
          }
        }
      }
    }
  }
