<button type="button" class="btn btn-md  btn-ghost header__btn--signup" (click)="openSignupModal('signUpModal-'+callingFrom,'')">Sign Up</button>
<div id="signUpModal-{{callingFrom}}" class="modal signUpModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" *ngIf="!isStepOne" class=" back-btn pull-left" (click)="moveToPrevStep('')"><span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span></button>
        <button type="button" class="close" (click)="closeModal('signUpModal-'+callingFrom,true,false)"> <i class="icon-close"></i></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Register</h4>
        <!-- progress Bar -->
        <div class="progress signUpProgressBar " *ngIf="availableCountries && availableCurrency">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width]="getProgressBarWidth()">
          </div>
        </div>
        <div class="btn btn-md msg-error" *ngIf="serverError">
          <i class="icon-img error-icon"></i> {{serverError}}</div>

        <div id="signUpStepOneContainer-{{callingFrom}}" class="signUpStepOneContainer form-input"  [ngClass]="{'show':isStepOne,'hide':!isStepOne}">
          <form *ngIf="availableCountries && availableCurrency" [formGroup]="signUpStepOne" novalidate (keyup.enter)="moveToSecondStep()" (ngSubmit)="moveToSecondStep()">
            <h4>Create a free account</h4>
            <div class="form-group" [ngClass]="getFormFiledClass('email',signUpStepOne)">
              <div class="error-msg" *ngIf="shouldShowErrors('email',signUpStepOne)">
                <div class="error-msg--inner">{{getErrorMessage('email',signUpStepOne)}}</div>
              </div>
              <input type="email" formControlName="email" name="email" placeHolder="Your e-mail" class="form-control" (focus)="onFocusForElement('email')" (focusout)="onFocusOutForElement()" (keypress)="onKeyPress()" />
            </div>
            <div class="form-group" [ngClass]="getFormFiledClass('nickname',signUpStepOne)">
              <div class="error-msg" *ngIf="shouldShowErrors('nickname',signUpStepOne)">
                <div class="error-msg--inner">{{getErrorMessage('nickname',signUpStepOne)}}</div>
              </div>
              <input type="text" formControlName="nickname" name="nickname" placeHolder="Choose username" class="form-control" (focus)="onFocusForElement('nickname')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
            </div>
            <div class="form-group has-feedback" [ngClass]="getFormFiledClass('password',signUpStepOne)">
              <div class="error-msg" *ngIf="shouldShowErrors('password',signUpStepOne)">
                <div class="error-msg--inner">{{getErrorMessage('password',signUpStepOne)}}</div>
              </div>
              <div class="input-group">
                <input [type]="viewPassword ? 'text' : 'password'" formControlName="password" name="password" placeHolder="Choose a password" class="form-control" (focus)="onFocusForElement('password')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
                <!--    <i class="pwd-eye input-group-btn" [ngClass]="viewPassword ? 'pwd-hide' : 'pwd-show'" (click)="viewPassword = !viewPassword"></i> -->
                <i class="pwd-eye input-group-btn" [ngClass]="viewPassword ? 'icon-eye-hide' : 'icon-eye'" (click)="viewPassword = !viewPassword"></i>
              </div>
            </div>
            <div class="form-group" [ngClass]="getFormFiledClass('phone',signUpStepOne)">
              <div class="error-msg" *ngIf="shouldShowErrors('phone',signUpStepOne)">
                <div class="error-msg--inner">{{getErrorMessage('phone',signUpStepOne)}}</div>
              </div>
              <div class="tel-number" id="phoneNumberFlag">
                <input class="coutry-code" name="phone" id="phoneNumberFlag-{{callingFrom}}" ng-intl-tel-input>
                <input (keypress)="mobileNumberValidation($event)"  class="form-control phone-number" type="tel" formControlName="phone" name="phone" placeHolder="Your mobile number" (focus)="onFocusForElement('phone')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" maxlength="10" />
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-md   cta-btn" (click)="moveToSecondStep()">NEXT</button>
          </form>
        </div>
        <div id="signUpStepTwoContainer-{{callingFrom}}" class="signUpStepTwoContainer form-input" [ngClass]="{'show':isStepTwo,'hide':!isStepTwo}">
          <form *ngIf="availableCountries && availableCurrency" [formGroup]="signUpStepTwo" novalidate (keyup.enter)="moveToThirdStep()" (ngSubmit)="moveToThirdStep()">
            <h4>Ok, now some details about you</h4>
            <div class="form-group">
              <div class="col-xs-6  name-field" [ngClass]="getFormFiledClass('firstName',signUpStepTwo)">
                <div class="error-msg" *ngIf="shouldShowErrors('firstName',signUpStepTwo)">
                  <div class="error-msg--inner">{{getErrorMessage('firstName',signUpStepTwo)}}</div>
                </div>
                <input type="text" class="form-control" formControlName="firstName" name="firstName" placeHolder="First Name" (focus)="onFocusForElement('firstName')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
              </div>
              <div class="col-xs-6  name-field" [ngClass]="getFormFiledClass('lastName',signUpStepTwo)">
                <div class="error-msg" *ngIf="shouldShowErrors('lastName',signUpStepTwo)">
                  <div class="error-msg--inner">{{getErrorMessage('lastName',signUpStepTwo)}}</div>
                </div>
                <input type="text" class="form-control" formControlName="lastName" name="lastName" placeHolder="Last Name" (focus)="onFocusForElement('lastName')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
              </div>
            </div>
            <div class="form-group ">
              <div class="gender-row">
                <div class="radio gender-space">
                  <label for="male-{{callingFrom}}" class="gender-label gender-label-male">Male</label>
                  <input value="M" type="radio" name="gender" id="male-{{callingFrom}}" title="" formControlName="gender" />
                  <label class="gm-label" for="male-{{callingFrom}}"></label>
                </div>
                <div class="or-space gender-space"><span>OR</span></div>
                <div class="radio gender-space">
                  <input value="F" type="radio" name="gender" id="female-{{callingFrom}}" title="" formControlName="gender" />
                  <label for="female-{{callingFrom}}"><span class="gender-label gender-label-female">Female</span></label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="label-text">When were you born?</label>
              <div class="dob-row">
                <div id="bdaySelectContanier-{{callingFrom}}" class="dob-select dob-date" [ngClass]="getFormFiledClass('bDay',signUpStepTwo)">
                  <select id="bdaySelect-{{callingFrom}}" formControlName="bDay" class="form-control" (focus)="onFocusForElement('bDay')" (focusout)="onFocusOutForElement()">
                    <option value="">DD</option>
                    <option *ngFor="let n of [].constructor(31);let date=index" [ngValue]="date+1">{{date+1}}</option>
                  </select>
                </div>
                <div id="bMonthSelectContanier-{{callingFrom}}" class="dob-select dob-month" [ngClass]="getFormFiledClass('bMonth',signUpStepTwo)">
                  <select id="bMonthSelect-{{callingFrom}}" formControlName="bMonth" class="form-control" (focus)="onFocusForElement('bMonth')" (focusout)="onFocusOutForElement()">
                    <option value="">MM</option>
                    <option *ngFor="let n of [].constructor(12);let month=index" [ngValue]="month+1">{{month+1}}</option>
                  </select>
                </div>
                <div id="bYearSelectContanier-{{callingFrom}}" class="dob-select dob-year" [ngClass]="getFormFiledClass('bYear',signUpStepTwo)">
                  <select id="bYearSelect-{{callingFrom}}" formControlName="bYear" class="form-control" (focus)="onFocusForElement('bYear')" (focusout)="onFocusOutForElement()">
                    <option value="">YYYY</option>
                    <option *ngFor="let year of yearRange;let last=last" [ngValue]="year">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-md   cta-btn" (click)="moveToThirdStep()">CONTINUE TO LAST</button>
            <div class="footer-msg">Your personal data will be safe and secure.</div>
          </form>
        </div>
        <div id="signUpStepThreeContainer-{{callingFrom}}" class="signUpStepThreeContainer form-input" [ngClass]="{'show':isStepThree,'hide':!isStepThree}">
          <form *ngIf="availableCountries && availableCurrency" [formGroup]="signUpStepThree" novalidate (keyup.enter)="registerUser('registrationButton-'+callingFrom)" (ngSubmit)="registerUser('registrationButton-'+callingFrom)">
            <h4>You're almost there, last step</h4>
            <div class="form-group" [ngClass]="getFormFiledClass('address1',signUpStepThree)">
              <div class="error-msg" *ngIf="shouldShowErrors('address1',signUpStepThree)">
                <div class="error-msg--inner">{{getErrorMessage('address1',signUpStepThree)}}</div>
              </div>
              <input type="text" formControlName="address1" name="address1" placeHolder="Street Address" class="form-control" (focus)="onFocusForElement('address1')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
            </div>
            <div class="form-group">
              <div class="col-xs-5 name-field" [ngClass]="getFormFiledClass('zip',signUpStepThree)">
                <div class="error-msg" *ngIf="shouldShowErrors('zip',signUpStepThree)">
                  <div class="error-msg--inner">{{getErrorMessage('zip',signUpStepThree)}}</div>
                </div>
                <input type="text" formControlName="zip" name="zip" placeHolder="Post code" class="form-control" (focus)="onFocusForElement('zip')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
              </div>
              <div class="col-xs-7  name-field" [ngClass]="getFormFiledClass('city',signUpStepThree)">
                <div class="error-msg" *ngIf="shouldShowErrors('city',signUpStepThree)">
                  <div class="error-msg--inner">{{getErrorMessage('city',signUpStepThree)}}</div>
                </div>
                <input type="text" formControlName="city" name="city" placeHolder="Town or City" class="form-control" (focus)="onFocusForElement('city')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-7  name-field" [ngClass]="getFormFiledClass('country',signUpStepThree)">
                <div class="error-msg" *ngIf="shouldShowErrors('country',signUpStepThree)">
                  <div class="error-msg--inner">{{getErrorMessage('country',signUpStepThree)}}</div>
                </div>
                <select formControlName="country" name="country" (focus)="onFocusForElement('country')" (focusout)="onFocusOutForElement()" (change)="checkGDPR($event)" data-live-search="true">
                  <option *ngFor="let country of availableCountries" [ngValue]="country.iso">{{country.name}}</option>
                </select>
              </div>
              <div class="col-xs-5 name-field" [ngClass]="getFormFiledClass('currency',signUpStepThree)">
                <div class="error-msg" *ngIf="shouldShowErrors('currency',signUpStepThree)">
                  <div class="error-msg--inner">{{getErrorMessage('currency',signUpStepThree)}}</div>
                </div>
                <select formControlName="currency" name="currency" (focus)="onFocusForElement('currency')" (focusout)="onFocusOutForElement()">
                  <option value="">Currency</option>
                  <option *ngFor="let currency of availableCurrency" [ngValue]="currency">{{currency}}</option>
                </select>
              </div>
            </div>
            <div class="footer-msg tc">
              <br/> By creating an account you agree to our
              <br/> <a (click)="broadcastOpenTC()">terms & conditions</a>
            </div>
            <div class="footer-note" [ngClass]="{'show':isGDPR,'hide':!isGDPR}">
              <p>I accept:</p>
              <p>The terms & conditions and confirm that I am 18+. </p>
              <p>That my personal data will be processed according to the privacy notice by JokaRoom.</p>
              <p>If you wish NOT to receive information about our products or services, bonuses and promotions you may opt OUT by ticking here
                <span class="checkbox checkbox-inline ">
                  <input id="agree-tc" type="checkbox" (change)="emailAndMobileSubscribed = !emailAndMobileSubscribed">
                  <label for="agree-tc">
                  </label>
                </span>
              </p>
            </div>
            <button id="registrationButton-{{callingFrom}}" type="button" class="btn btn-primary btn-md cta-btn" (click)="registerUser('registrationButton-'+callingFrom)"><span>DONE</span></button>
          </form>
        </div>
        <app-jkr-loader *ngIf="!availableCountries"></app-jkr-loader>
      </div>
    </div>
  </div>
</div>
