<div class="game-searchbar push-side">
  <div class="game-section-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 hidden-lg hidden-md no-padding-m">
          <div class="filter-gamemenu-mobile">
          <select id="filter-gamemenu" [value]="selectedCategory">
            <option *ngFor="let category of availableCategories" [value]="category.category">{{category.displayName}}</option>
          </select>
        </div>
        </div>

        <div class="col-xs-6 col-sm-6  col-md-4 col-lg-4 no-padding-m">
          <div class="search-bar">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Game Search" (input)="findGame($event.target.value)" id="gameSearchText">
              <span class="input-group-addon">
                <button type="submit">
           <!--   <span class="glyphicon glyphicon-search"></span> -->
              <i class="icon-search2"></i>
              </button>
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-8 filter-option-holder">
          <div class="filter-option">
            <ul>
              <li [ngClass]="{'active':sortBy == 'displayOrder'}" (click)="sortGamesOn('displayOrder')">TOP PICKS</li>
              <li [ngClass]="{'active':sortBy == 'name'}" (click)="sortGamesOn('name')"> ALPHABETICALLY</li>
              <!-- <li [ngClass]="{'active':sortBy == 'vendorName'}" (click)="sortGamesOn('vendorName')"> PROVIDER</li> -->
              <li class="layout-view" (click)="changeListType('grid')" [ngClass]="{'active':listType == 'grid'}">
                <i class="icon-grid-view"></i>
              </li>
              <li class="layout-view" (click)="changeListType('list')" [ngClass]="{'active':listType == 'list'}">
                <i class="icon-list-view"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
