<div
      class="dynamic-field form-select row"
      [formGroup]="group" [ngClass]="{'has-error': shouldShowErrors(config.key,group) , 'show':(usedAccount && config.visibleOnRepeatPayment) || (!usedAccount && config.visibleOnNewPayment),'hide':(usedAccount && !config.visibleOnRepeatPayment) || (!usedAccount && !config.visibleOnNewPayment)}">
      <label>{{ config.label }}</label>
      <select [formControlName]="config.name">
        <option value="">{{ config.placeholder }}</option>
        <option *ngFor="let option of config.options">
          {{ option }}
        </option>
      </select>
    </div>
