<div class="game-section-sidemenu">
  <ul>
    <li (click)="changeCategory(category.category)" id="{{category.category}}-LeftSideButton" type="{{category.category}}" *ngFor="let category of availableCategories" [ngClass]="{'active':category.category == selectedCategory}">
      <a href="javascript:void(0);">{{category.displayName}}</a>
    </li>
  </ul>
</div>
