 @import "~variables.scss";

 .footer {
  /* min-height: 200px;*/
  /* margin-top: 20px;*/
   .jackedaffiliates {
     text-align: center;
     padding: 30px 20px;
     &__logo {
       background-image: url("/assets/img/footer/payments-logos.png");
       width: 111px;
       height: 33px;
       background-position: -553px 35px;
       display: block;
       text-align: center;
       margin: auto;
       position: relative;
       &:hover {
         background-position: -553px 68px;
       }
     }
     .ja-popover {
       background-color: #780c0c;
       color: #FFF;
       border-radius: 3px;
       
       font-size: 11px;
       display: none;
       text-transform: uppercase;
       position: absolute;
       width: 100%;
       margin-top: -25px;
       margin-left: 45px;
     }
     .caption {
       margin: 20px auto;
       color: #999;
       font-weight: bold;
       font-size: 11px;
       line-height: 14px;
       display: inline-block;
     }
   }
 }

 @media only screen and (max-width: 991px) {
   .footer {
     min-height: auto;
      .jackedaffiliates {
       padding:40px 20px 20px;
     }
   }
 }
