<section class="footer push">
  <div class="container">
    <div class="jackedaffiliates">
      <!-- <a href="http://www.jackedaffiliates.com/" target="_blank" class="jackedaffiliates__logo" id="ja-logo">
        <div class="ja-popover fadeInUp">
          Jacked Affiliates
        </div>
      </a> -->
      <!-- <p class="caption"> Gambling can be addictive. Play responsibly.</p> -->
    </div>
  </div>
</section>
