<section class="page-not-found push">
  <div class="container">
    <div class="text-content ">
      <div class="inner">
        <h1>Catch me if you can!</h1>

        <p>We looked everywhere. The page you are looking for cannot be found...</p>
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-md" (click)="gotToHome()" [routerLink]="['/en']">HOME</button>
      </div>
    </div>
  </div>
</section>
