<p>
  Please complete the fields below in order to change your Password.
</p>
<p>Once submitted, you will be logged out and will have to log in again with your new Password.</p>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword('changePasswordButton')" novalidate (keyup.enter)="changePassword('changePasswordButton')">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label>PASSWORD</label>
        <div class="input-holder " [ngClass]="getFormFiledClass('old',changePasswordForm)">
          <div class="error-msg" *ngIf="shouldShowErrors('old',changePasswordForm)"><div class="error-msg--inner">{{getErrorMessage('old',changePasswordForm)}}</div></div>
          <input type="password" formControlName="old" name="old" placeHolder="Enter Password" class="form-control" (focus)="onFocusForElement('old')" (focusout)="onFocusOutForElement()" />
        </div>
      </div>
      <div class="form-group">
        <label>NEW PASSWORD</label>
        <div class="input-holder " [ngClass]="getFormFiledClass('password',changePasswordForm)">
          <div class="error-msg" *ngIf="shouldShowErrors('password',changePasswordForm)"><div class="error-msg--inner">{{getErrorMessage('password',changePasswordForm)}}</div></div>
          <input type="password" formControlName="password" name="password" placeHolder="Enter New Password" class="form-control" (focus)="onFocusForElement('password')" (focusout)="onFocusOutForElement()" />
        </div>
      </div>
      <div class="form-group">
        <label>REPEAT NEW PASSWORD</label>
        <div class="input-holder " [ngClass]="getFormFiledClass('confirmPassword',changePasswordForm)">
          <div class="error-msg" *ngIf="shouldShowErrors('confirmPassword',changePasswordForm)"><div class="error-msg--inner">{{getErrorMessage('confirmPassword',changePasswordForm)}}</div></div>
          <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeHolder="Re-Enter New Password" (focus)="onFocusForElement('confirmPassword')" (focusout)="onFocusOutForElement()" />
        </div>
      </div>
    </div>
  </div>
  <div class="row btn-order-place">
    <div class="col-md-4">
      <button id="changePasswordButton" type="button" class="btn btn-md btn-primary btn-submit" (click)="changePassword('changePasswordButton')"><span>CHANGE PASSWORD</span></button>
    </div>
    <div class="col-md-8">
      <div class="btn btn-md msg-success" *ngIf="serverResponse=='PASSWORD_CHANGE_SUCCESS'"><i class="icon-img success-icon"></i>   PASSWORD HAS BEEN CHANGED</div>
      <div class="btn btn-md msg-error" *ngIf="serverResponse && serverResponse!='PASSWORD_CHANGE_SUCCESS'"><i class="icon-img error-icon"></i>  {{serverResponse}}</div>
    </div>
  </div>
</form>
