<div class="game-display ">
  <div class="game-display__container  " id="game-display__container">
    <div class="game-display__frame push-side" id="game-display__frame">
      <app-jkr-loader *ngIf="!gameUrl"></app-jkr-loader>
      <div *ngIf="gameUrl" class="game-display__frame__inner" id="gameIframeWrapper"></div>
      <div *ngIf="gameUrl" class="game-display__frame__controls">
        <div class="icon" (click)="closeGame()">
          <i class="icon-close"></i>
        </div>
        <div class="icon make-fav" [ngClass]="{'active':isFavourite}" (click)="selectedGame ? toggleFavouriteGame(isFavourite,selectedGame.gameCode) : ''">
          <i class="icon-star-line"></i>
          <!--  <i class="icon-star-fill"></i> -->
        </div>
        <div class="icon make-fullscreen" (click)="toggleFullScreen()">
          <i class="icon-expand"></i>
          <!--   <i class="icon-shrink"></i> pls make toggle this class when you make full screen-->
        </div>
      </div>
    </div>
    <div class="game-display__sidebar" id="game-display__sidebar">
      <button id="game-display__sidebar-open-btn" class="btn game-display__sidebar-open-btn">
        <!--     <i class="  glyphicon glyphicon-chevron-left"></i> -->
        <i class="icon-arrow-left"></i>
      </button>
      <div class="game-display__sidebar__content">
        <div class="game-display__sidebar__content--item">
          <h4>Latest Winners</h4>
          <div class="latest-winner-list  ">
            <div class="latest-winner-list__item"  *ngFor="let winners of winnersList">
              <div class="latest-winner-list__item--user">
                <span class="user-name">
                  {{winners.playerName}} just won
                </span>
                <span class="user-played-game" routerLink="/en/gamePlay/{{winners.gameCode}}">{{winners.gameName}}</span>
              </div>
              <div class="latest-winner-list__item--wonamt">{{winners.amountInHouseCurrency}}</div>
            </div>

          </div>
        </div>
        <div class="game-display__sidebar__content--item game-info">
          <h4 [innerHtml]="selectedGame ? selectedGame.name : ''"></h4>
          <div class="game-info--text ">
            <p [innerHtml]="selectedGame && selectedGame.content ? selectedGame.content : ''"></p>
          </div>
        </div>
        <div class="game-display__sidebar__content--item  ">
          <app-banner [zoneId]="'8'"></app-banner>

          <!-- <div class="user-notlogged  " *ngIf="!isUserLoggedIn">
            <div class="offer-info">
              <span class="offer-amt">$1400</span>
              <span class="offer-type">Welcome bonus</span>
              <span class="offer-spins">+80 Free Spins</span>
            </div>
            <a class="btn btn-md btn-primary">Sign up</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
