@import "~variables.scss";
@import "~mixin.scss";


.game-display {
  background: $game-play-bg;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__container {
    position: absolute;
    left: 0px;
    right: 40px;
    top: 105px;
    padding: 20px;
    bottom: 20px;
    margin: 0 auto;
    transition: all 0.3s;
    overflow: hidden;

    &.active {
      right: 250px;
    }
  }
  &__frame {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: table;
    &__inner {
      width: calc(100% - 50px);
      height: 100%;
      overflow: hidden;
      float: left;
      background: $game-play-control-icon-bg-color;

      h1{
        font-size: 20px;
        padding: 15px;
        margin: auto;

      }
      iframe {
        width: 100%;
        height: 100%;
        display: table-cell;
        border: none;
      }
    }
    &__controls {
      width: 40px;
      transition: all 0.3s;
      float: left;


      .icon {
        color: $game-play-control-icon-text-color;
        background-color: $game-play-control-icon-bg-color;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px 10px 10px;

        cursor: pointer;
        &:focus,
        &:hover {
          color: $game-play-control-icon-hover-text-color;
        }
        &.make-fav {
          i {
            font-size: 26px;
          }
          &:focus,
          &:hover,
          &.active {
            i {
              &:before {
                content: '';
                color: $game-card-favorite-selected-icon-color;
                content: '\E802';
                font-family: "icon-font";
                font-style: normal;
              }
            }
          }
        }
        &.make-fullscreen {
          i {
            font-size: 24px;
          }
        }
      }
    }
  }

  &__sidebar {
    position: fixed;
    right: 0;
    top: 76px;
    bottom: 0;
    margin: 20px 0;
    background: $game-play-sidebar-bg-color;
    border-left: 1px solid $game-play-sidebar-border-left-color;
    width: 250px;
    /* height: 100%;*/
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;


    &.active {
      transform: translateX(0);
    }

    &__content {

      height: 100%;
      max-height: 100%;
      overflow: hidden;

      &--item {
        box-sizing: border-box;
        margin: 15px;
        position: relative;
        width: calc(100% - 20px);
        overflow: hidden;

        h4 {
          font-size: 16px;
          color: $game-play-sidebar-section-title-text-color;
          font-weight: bold;
          margin: 15px 0;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &:first-child {
          height: 30%;
          h4 {
            margin-top: 0;
          }
        }
        &:nth-child(2) {
          height: 20%;
        }
        &:nth-child(3) {
          height: 50%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          border-top: 1px solid $game-play-sidebar-section-separtor;
        }
        .game-info {

          &--text {
            max-height: 85%;
            overflow-y: auto;
            text-overflow: ellipsis;
                      @include customscrollbars;

            p {
              color: $game-play-sidebar-section-gameinfo-text-color;
              font-size: 14px;
              line-height: 1.5;
            }
          }
        }

        .latest-winner-list {
          max-height: 85%;
          overflow-y: auto;
          text-overflow: ellipsis;
                    @include customscrollbars;

          &__item {
            display: table;
            margin-top: 7px;
            width: 100%;
            &:first-child {
              margin-top: 0;
            }
            &--wonamt,
            &--user {
              display: table-cell;
              vertical-align: top;
            }
            &--user {
              width: calc(100% - 90px);
              .user-played-game,
              .user-name {
                font-size: 12px;
                width: 100%;
                float: left;
                line-height: 1.5;
                padding-right: 10px;
                overflow: hidden;
              }
              .user-played-game {
                color: $game-play-sidebar-section-latest-winner-user-palyed-game-text-color;
                font-weight: bold;
                &:hover {
                  color: $game-play-sidebar-section-latest-winner-user-palyed-game-hover-text-color;
                  text-decoration: underline;
                  cursor: pointer;
                }
                &:focus{
                  outline: none;
                }
              }
              .user-name {
                color: $game-play-sidebar-section-latest-winner-user-name-text-color;
              }
            }
            &--wonamt {
              width: 90px;
              text-align: right;
              font-size: 18px;
              font-weight: 700;
              padding-right: 5px;
              color: $game-play-sidebar-section-latest-winner-user-won-amout-text-color;
              &:hover {
                color: $game-play-sidebar-section-latest-winner-user-palyed-game-hover-text-color;
              }
            }
          }
        }

        .user-logged,
        .user-notlogged {
          padding: 10px 0;
          max-height: 76%;
          overflow-y: auto;
          text-overflow: ellipsis;
                    @include customscrollbars;


          .btn {
            text-transform: uppercase;
            min-width: 150px;
            margin: 10px 0 5px;
            transition: all 250ms ease;
          }
        }


        .user-logged {}
        .user-notlogged {
          span {
            display: block;
            font-weight: bold;
            line-height: 1;
            margin: 8px 0;
          }
          .offer-info {
            margin: 10px 0;
            color: $game-play-sidebar-offer-text-color;
            text-transform: uppercase;
          }
          .offer-amt {
            font-size: 36px;
            margin-bottom: 10px;
          }
          .offer-type,
          .offer-spins {
            font-size: 16px;
          }
        }
      }
    }
  }
  &__sidebar-open-btn {
    background-color: $game-play-sidebar-open-btn-bg-color;
    color: $game-play-sidebar-open-btn-text-color;
    border-radius: 0;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    left: -40px;
    width: 40px;
    height: 40px;
    &.active {
      i {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
    &:focus {
      color: $game-play-sidebar-open-btn-text-color;
    }
    &:hover {
      color: $game-play-sidebar-open-btn-text-hover-color;
    }
  }
}


@media only screen and (max-width: 991px) {
  .game-display {
    /*margin-top: 50px;*/
    &__sidebar {
      display: none;
    }
    &__frame {
      margin: auto;
      &__controls {
        display: none;
      }
    }
    &__container {
      left: 0;
      right: 0;
      top: 100px;
      bottom: 0;
      padding: 0;
    }
    &__frame {
      &__inner {
        width: 100%;
        float: none;
      }
    }
  }
}
