<section class=" push-side promotions" id="promotionCards">
  <div class="promotion-cards-container container">
    <app-static-pages [url]="'promotion-page'" ></app-static-pages>
    <!-- <div class="clipmask-title">
    <h1 class="text-center">Promotions</h1>
  </div>
    <hr/>-->
    <div class="promo-card-row row" *ngIf="promotions && promotions.length > 0">
      <div class="promo-card-col" *ngFor="let promotion of promotions">
        <div class="promo-card" (click)="loadPromoContent(promotion.url)" [innerHTML]="promotion.snippet">

        </div>
      </div>
    </div>
    <div class="row" *ngIf="promotions && promotions.length <= 0">
      <h3 class="col-md-12 text-center">No Promotions Available</h3>
    </div>
    <div class="loader-jr loader-jr-static promo-loader" *ngIf="!promotions">
              <app-jkr-loader ></app-jkr-loader>

    </div>



    <!-- etst -->

     <!-- <div class="promo-card-row row">
      <div class="promo-card-col" >
        <div class="promo-card" >
          <div class="promo-card__img">
            <img src="/assets/img/test-promo.jpg" class="img-responsive" >
          </div>
          <h3 class="promo-card--title" >Facing them inside anchor tags was the most popular </h3>
          <div class="promo-card--intro-text"><h5>What did work was setting the glyphi</h5>
            <p>The use of cards in the UI is an excellent metaphor since they look like platform, but it can temporarily expand (for example, to display a comment field).</p></div>
          <div class="promo-card--link-btn btn btn-sm btn-primary pull-right" (click)="loadPromoContent(promotion.id)">More</div>
        </div>
      </div>
    </div> -->


  </div>
</section>
