<section class="history-bonus">
  <div class=" bonus-table">
    <table>
      <thead>
        <tr>
          <th scope="col">Date</th>
<!--           <th scope="col">Type</th>
 -->          <th scope="col">Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngIf="bonusHistoryList && bonusHistoryList.length > 0">
        <tr *ngFor="let bonusHistory of bonusHistoryList">
          <td data-label="Creation Date">{{bonusHistory.offeredDate | date:"dd-MM-yyyy hh:mm"}}</td>
<!--           <td data-label="Type">Casino</td>
 -->          <td data-label="Name">{{bonusHistory.bonusName}}</td>
          <td data-label="Status">{{bonusHistory.bonusStatus}}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="bonusHistoryList && bonusHistoryList.length <= 0">
        <tr>
          <td colspan="2" class="text-left">
            <span >No Bonus Available yet</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
