@import "~variables.scss";
@import "~mixin.scss";

.dynamic-form {
  margin-left: -10px;
  margin-right: -10px;
  .dynamic-field {
    /*  input {
      @extend .casheir-input;
    }*/
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .expiry-label {
    @extend .casheir-lable;

    margin: 10px 0;
    text-align: right;
    padding: 14px 5px 14px 0;
    line-height: 1;
  }
  .centre-text {
    input {
      text-align: center;
    }
  }


  .err-msg-tt {

    padding: 14px 20px;
    box-sizing: border-box;
    background: $casheir-error-msg-tooltip-bg-color;
    box-shadow: 0px 5px 0 0 darken( $casheir-error-msg-tooltip-bg-color, 10%);
    color: $casheir-error-msg-tooltip-text-color;
    border-radius: 6px;
    text-align: center;

    font-weight: 700;
    line-height: 0.9;

    position: absolute;
    top: 0;
    left: 50%;
    display: inline-table;
    -moz-transform-origin: top left 50%;
    -ms-transform-origin: top left 50%;
    -webkit-transform-origin: top left 50%;
    transform-origin: top left 50%;
    -moz-transform: translate(-50%, -110%);
    -ms-transform: translate(-50%, -110%);
    -webkit-transform: translate(-50%, -110%);
    transform: translate(-50%, -110%);
    z-index: 999;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -14px;
      left: calc(50% - 8px);
      box-sizing: border-box;
      border: 8px solid black;
      border-color: transparent transparent $casheir-error-msg-tooltip-bg-color $casheir-error-msg-tooltip-bg-color;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -4px 4px 0 0 darken( $casheir-error-msg-tooltip-bg-color, 10%);
    }
  }

  .change-cc {
    padding: 0 15px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: 0;
    text-align: left;
    width: 100%;
    float: left;
    @extend .casheir-lable;
    color: $casheir-payment-amount-btn-bg-active-bg-color;

    &:hover {
      color: darken($casheir-payment-amount-btn-bg-active-bg-color, 18%);
    }
  }
}



@media only screen and (max-width: 375px) {
  .dynamic-form {
    .saved-card-holder {
      width: 70%;
    }
    .recvv {
      width: 30%;
    }

    .expiry-label {
      width: 20%;
    }
    .centre-text {
      &.has-success {
        &:after {
          right: 0;
        }
      }
      input {
        width: 125%;
        font-size: 13px;
      }
      &.recvv {
        input {
          width: 100%;
        }
        &.has-success {
          &:after {
            right: 18px;
          }
        }
      }
    }
  }
}
