<section class="fixed-footer  push-side hide" (click)="openFixedFooter($event)">


    <ul class="f-tabs">
      <li class="tab-link" data-tab="featured" id="featuredTabLink"><i class="icon-thumb-1"></i> Featured</li>
      <li class="tab-link" data-tab="hot"><i class="icon-fire"></i> Hot</li>
      <li class="tab-link" data-tab="lastPlayed"><i class="icon-clock"></i> Last Played</li>
      <li class="tab-link" data-tab="favourites"><i class="icon-star-line"></i> Favourites</li>
      <li class="tab-link" ><span class="hide" id="closeButton"  (click)="closeFixedFooter($event)"><i class="ion-chevron-down"></i></span></li>
      <li class="quick-d-f" [ngClass]="{'show': isGameLaunch == true ,'hide': isGameLaunch == false}" *ngIf="isUserLoggedIn"><app-quick-deposit-footer></app-quick-deposit-footer></li>
      <li class="tab-link pull-right user-time-display" data-tab="timer"><span #timer data-tab="timer">15:30</span></li>
  </ul>
   <div class="f-tab-content" id="featured">
       <div class="f-games-container" id="f-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="featuredGames && featuredGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of featuredGames" (click)="openGame($event,game.gameCode)">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="featuredGames && featuredGames.length <= 0">
        <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!featuredGames">
     <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
  </div>

  <div class="f-tab-content" id="hot">
     <div class="f-games-container" id="f-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="hotGames && hotGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of hotGames" (click)="openGame($event,game.gameCode)">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="hotGames && hotGames.length <= 0">
            <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!hotGames">
            <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
  </div>

    <div class="f-tab-content" id="lastPlayed">
    <div class="f-games-container" id="last-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="lastPlayedData && lastPlayedData.length > 0">
            <div class="f-game-card__content" *ngFor="let game of lastPlayedData" (click)="openGame($event,game.gameCode)">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="lastPlayedData && lastPlayedData.length <= 0">
            <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!lastPlayedData">
            <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
  </div>

    <div class="f-tab-content" id="favourites">
       <div class="f-games-container" id="fav-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="allFavGames && allFavGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of allFavGames" (click)="openGame($event,game.gameCode)">
              <div class="f-game-card" *ngIf="game">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="allFavGames && allFavGames.length <= 0">
            <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!allFavGames">
            <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
  </div>

   <!-- <div class="tab-content" id="f-game-row">
    <div id="featured" class="tab-pane active in"  >
      <div class="f-games-container" id="f-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="featuredGames && featuredGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of featuredGames">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="featuredGames && featuredGames.length <= 0">
            No Games Available
          </ng-container>
          <ng-container *ngIf="!featuredGames">
            Loading ...
          </ng-container>
        </div>
      </div>
    </div>
    <div id="hot" class="tab-pane fade in">
      <div class="f-games-container" id="hot-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="hotGames && hotGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of hotGames">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="hotGames && hotGames.length <= 0">
            <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!hotGames">
            <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div id="lastPlayed" class="tab-pane fade in">
      <div class="f-games-container" id="last-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="featuredGames && featuredGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of featuredGames">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="featuredGames && featuredGames.length <= 0">
            <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!featuredGames">
            <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div id="favourites" class="tab-pane fade in">
      <div class="f-games-container" id="fav-games-container">
        <div class="f-game-row">
          <ng-container *ngIf="allFavGames && allFavGames.length > 0">
            <div class="f-game-card__content" *ngFor="let game of allFavGames">
              <div class="f-game-card">
                <div class="f-game-card__img"> <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{game.gameCode}}/{{game.gameCode}}.jpg" alt=" {{game.name}}" title="{{game.name}}">
                </div>
                <div class="f-game-card--name">{{game.name}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="allFavGames && allFavGames.length <= 0">
            <div class="f-game-card--notfound">No Games Available</div>
          </ng-container>
          <ng-container *ngIf="!allFavGames">
            <div class="f-game-card--notfound"> <i class="icon-loader icon-spin"></i> Loading ...</div>
          </ng-container>
        </div>
      </div>
    </div>
  </div> -->
</section>
