@import "~variables.scss";

.cm-footer-desc {
  background: $footer-bg-color;
  color: $footer-text-color;
  position: relative;
  font-size: 14px;
  padding: 20px 0;
 /* &:before {
    background: $section-separator;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    right: 0;
  }*/



  h1,
  h2,
  h3 {
    margin: 20px 0;
    font-weight: 700;
  }
  h1 {
    font-size: 25px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 15px;
   }
  hr {
    border-color: rgba($primary-color, 0.1);
  }

  a {
    &.morelink {
      color: $primary-color;
    }
  }
 
  .social-media-links {
    text-align: center;
    margin: 30px auto;
    width: 263px;
    a {
      &.s-icon {
        width: 65px;
        height: 65px;
        float: left;
        margin-right: 0px;
        transition: all 0.3s ease 0s;
      }
      &.fb {
        background: transparent url(/assets/img/sicons.png) no-repeat scroll -1px 0px;
        &:hover {
          background-position: -1px -61px;
        }
      }

      &.tw {
        background: transparent url(/assets/img/sicons.png) no-repeat scroll -67px 0px;
        &:hover {
          background-position: -67px -61px;
        }
      }

      &.gl {
        background: transparent url(/assets/img/sicons.png) no-repeat scroll -132px 0px;
        &:hover {
          background-position: -132px -61px;
        }
      }

      &.yt {
        background: transparent url(/assets/img/sicons.png) no-repeat scroll -198px 0px;
        &:hover {
          background-position: -198px -61px;
        }
      }
    }
  }
  .comment{
    font-size: 14px;

  }
  .morecontent {
    span {
      display: none;
    }
  }
}

@media only screen and (max-width: 991px) {
  .cm-footer-desc {
    display: none;
  }
}
