<div class="staticHeader navbar-fixed-top push-side">
  <nav class="main-header" [ngClass]="{'gameplay-screen':isGameLaunch,'':hideHeaderStatus =='show','hide':hideHeaderStatus =='hide'}" id="main-header">
    <span id="side-menu-btn" class="menu-link menu-icon">
      <!-- <i class="icon-menu"></i> -->
    </span>
    <div class="logo" routerLink="/en">
      <img src="/assets/img/logo.png" class="img-responsive" alt="Joka Room">
    </div>
    <div class="header__btn ">
      <div class="user__not-logged" *ngIf="isUserLoggedIn != undefined &&  !isUserLoggedIn && !userSessionAvailable">
        <app-login-signup *ngIf="!isUserLoggedIn" (loginComplete)="getUserDetails($event)"></app-login-signup>
      </div>
            <!-- <span class="tt-dd__menu--list" (click)="cashierClicked = 'withdrawal'"> Withdraw</span>
      <span class="tt-dd__menu--list" (click)="cashierClicked = 'deposit'"> Deposit</span> -->
      <div class="user__logged" *ngIf="isUserLoggedIn" [ngClass]="{'user__playing-game':isGameLaunch}">
        <div class="user__details btn-md">
          {{userNickName}}
        </div>
        <div class="user__account-info">
          <div class="user__account-info-row">
        <div class="user__account-info--text dropdown tt-dd u-bal ">
          <div class="dropdown-toggle tt-dd__toggle btn-md" id="funds-d" data-toggle="dropdown">
          {{userCurrencySymbol}} {{userTotalBalance | number:'1.2-2'}} <i class="ionicons ion-chevron-down"></i>
        </div>
        <div class="dropdown-menu " role="menu" aria-labelledby="funds-d">
        <div class="tt-dd__menu">
        <span class="tt-dd__menu--list" (click)="cashierClicked = 'withdrawal'"> Withdraw</span>
        <span class="tt-dd__menu--list" (click)="cashierClicked = 'deposit'"> Deposit</span>
        <span class="tt-dd__menu--list" (click)="cashierClicked = 'withdrawal'"> Available to withdraw : {{userCurrencySymbol}}{{userCashBalance | number:'1.2-2'}}</span>
      </div>
    </div>
  </div>
  <div class="user__account-info--text dropdown tt-dd ">
    <div class="dropdown-toggle tt-dd__toggle btn-md" id="myaccount-d" data-toggle="dropdown">
      My account <i class="ionicons ion-chevron-down"></i>
    </div>
    <div class="dropdown-menu " role="menu" aria-labelledby="myaccount-d">
      <div class="tt-dd__menu">
        <span class="tt-dd__menu--list" (click)="menuItemClicked = 'myDetails'"> My details</span>
        <span class="tt-dd__menu--list" (click)="menuItemClicked = 'balanceDetails'"> Balance details</span>
        <span class="tt-dd__menu--list" (click)="menuItemClicked = 'transactionDetails'"> Transactions</span>
        <span class="tt-dd__menu--list" (click)="menuItemClicked = 'bonusDetails'"> Bonus Details</span>
        <span class="tt-dd__menu--list" (click)="menuItemClicked = 'kycDetails'"> Kyc</span>
        <span class="tt-dd__menu--list" (click)="doLogout('')"> Logout</span>
      </div>
    </div>
  </div>
</div>
  <div class="user__account-info-row">
  <div class="user__account-info--text btn-md" (click)="cashierClicked = 'withdrawal'">
    Withdraw
  </div>
  <div class="user__account-info--text deposit-b btn-md" (click)="cashierClicked = 'deposit'">
    Deposit
  </div>
</div>
</div>
</div>
</div>
<div class="mobile-login-link btn btn-sm btn-m-login btn-ghost" *ngIf="isUserLoggedIn != undefined &&  !isUserLoggedIn && !userSessionAvailable" (click)="openLoginModal()">
  Login / Sign up
</div>
<div class="mobile-login-link btn btn-sm btn-ghost" *ngIf="isUserLoggedIn" (click)="cashierClicked = 'deposit'">
  {{userCurrencySymbol}}{{userTotalBalance | number:'1.2-2'}}
</div>
</nav>
<div class="secondary-header " *ngIf="!isGameLaunch" [ngClass]="{'':hideHeaderStatus =='show','hide':hideHeaderStatus =='hide'}">
  <a routerLink="/en/promotions" [ngClass]="{'active':windowLocation == 'promotions'}"> BONUSES</a>
  <a routerLink="/en/vip-room" [ngClass]="{'active':windowLocation == 'vip-room'}"> VIP Room</a>
  <a routerLink="/en/banking" [ngClass]="{'active':windowLocation == 'banking'}"> PAYMENTS</a>
  <a routerLink="/en/about-us" [ngClass]="{'active':windowLocation == 'about-us'}"> INFO</a>
  <!-- <a routerLink="/en/mobile" [ngClass]="{'active':windowLocation == 'mobile'}"> Mobile</a> -->
  <a routerLink="/en/contact-us" [ngClass]="{'active':windowLocation == 'contact-us'}"> HELP</a>
</div>
</div>
<div class="side-menu" role="navigation" >
  <div class="side-menu__inner">
    <!--  this menu in mobile screen after login -->
    <a href="javascript:void(0);" *ngIf="isUserLoggedIn" class="m-menu user-name-m">{{userNickName}}<i class="icon-user pull-right"></i></a>
    <!--  this menu in mobile screen before login -->
    <a href="javascript:void(0);" class="m-menu" *ngIf="!isUserLoggedIn" (click)="hideLeftMenuAndOpen('login')">LOGIN / SIGNUP</a>
    <a href="javascript:void(0);" routerLink="/en"> Home</a>
    <!--  this menu in mobile screen after login -->
    <a class="menu-icn expandable-menu m-menu" *ngIf="isUserLoggedIn" data-target="accout-menu-m" (click)="checkForExpand($event)"> Account <i class="icon-plus pull-right"></i> </a>
    <div id="accout-menu-m" class="collapse sub-menu ">
      <a href="javascript:void(0);" (click)="menuItemClicked = 'myDetails'">My Profile</a>
      <a href="javascript:void(0);" (click)="cashierClicked = 'deposit'">Deposit</a>
      <a href="javascript:void(0);" (click)="cashierClicked = 'withdrawal'">Withdraw</a>
      <a href="javascript:void(0);" (click)="menuItemClicked = 'balanceDetails'">Balance</a>
      <a href="javascript:void(0);" (click)="menuItemClicked = 'bonusDetails'">Bonus Details</a>
      <a href="javascript:void(0);" (click)="menuItemClicked = 'transactionDetails'">Transactions</a>
      <a href="javascript:void(0);" (click)="menuItemClicked = 'kycDetails'">KYC</a>
    </div>
    <!--  these menu list in mobile screen -->
    <a href="javascript:void(0);" routerLink="/en/promotions" class="m-menu"> BONUSES</a>
    <a href="javascript:void(0);" routerLink="/en/vip-room" class="m-menu"> VIP Room</a>
    <a href="javascript:void(0);" routerLink="/en/banking" class="m-menu"> PAYMENTS</a>
    <a href="javascript:void(0);" routerLink="/en/about-us" class="m-menu">INFO</a>
    <a href="javascript:void(0);" routerLink="/en/contact-us" class="m-menu"> HELP</a>

    <app-static-pages [url]="'hamburger-menu'" [callingFrom]="'sideMenu'"></app-static-pages>

    <!--  this menu in mobile screen -->

    <a href="javascript:void(0);" (click)="showFavourites()" *ngIf="isUserLoggedIn">Favourites</a>
    <a href="javascript:void(0);" routerLink='/en' (click)="doLogout('')" *ngIf="isUserLoggedIn">Log Off</a>
  </div>
</div>
<app-settings *ngIf="isUserLoggedIn && menuItemClicked" [menuItemClicked]="menuItemClicked" (settingsClosed)="settingsClosed($event)"></app-settings>
<app-cashier *ngIf="isUserLoggedIn && cashierClicked" [txnType]="cashierClicked" (cashierClosed)="cashierClosed($event)"></app-cashier>
<app-reset-password *ngIf="!isUserLoggedIn" [resetPasswordToken]="resetPasswordToken"></app-reset-password>
<app-static-pages-popup *ngIf="staticPageUrl" [url]="staticPageUrl" (staticPagePopupAction)="staticPagePopupAction($event)"></app-static-pages-popup>
