@import "~variables.scss";
@import "~mixin.scss";


.quick-deposit-f {
  float: right;
  background: #000;




  .loader-space {
    min-width: 300px;
    text-align: center;
    float: left;
    .no-cc {
      margin: 0;
      padding: 10px;
      text-align: center;
    }


    &.icon-spin {
      padding: 10px;
    }
  }
  &-msg,
  &-holder {
    display: table;
    float: left;
    vertical-align: middle;
  }
  &-msg {
    margin-right: 20px;
    position: relative;
    top: 3px;

    .icon,
    .text {
      float: left;
      display: table-cell;
      vertical-align: middle;
    }
    .icon {
      margin-right: 10px;
      font-size: 20px;
      padding: 10px;
      font-weight: bold;
      line-height: 1;
      height: 35px;
      width: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      &.success {
        background: $success-msg-fill-color;
        color: $success-msg-text-color;
      }
      &.failure {
        background: $fail-msg-fill-color;
        color: $fail-msg-text-color;
      }
    }
    .text {
      text-transform: none;
      h5,
      p {
        margin: 0;
      }
      h5 {
        color: #FFF;

        font-size: 14px;
        font-weight: 700;
      }
      p {
        color: #999;
        font-size: 12px;
      }
    }
  }
  .qd-btn-group {
    float: right;
  }
  .qd-btn {
    height: 40px;
    min-width: 100px;
    text-transform: uppercase;
    line-height: 26px;
  }
  .retry,
  .ok {
    @extend .btn-ghost;
  }

  &-holder {


    .s-card-details-f,
    .cvc-field,
    .amt-field {
      display: table-cell;
      vertical-align: middle;
      margin-right: 10px;
      float: left;
      &.has-error {
        /*  &:after {
          display: none;
        }*/
      }
    }
    .s-card-details-f {
      border: 2px solid $primary-color;
      height: 40px;
      /*  height: 48px;*/
      margin: 0;

      .s-card-logo {
        float: left;
        @include payment-option-list-grid;
        @include payment-method-logo-grey;
        display: inline-block;
        width: 70px;
        height: 30px;
        cursor: initial;
      }
      .s-card-number {
        display: inline-block;
        vertical-align: middle;
        padding: 11px 10px;
        float: right;
        font-size: 16px;
      }
    }
    .cvc-field,
    .amt-field {
      width: 70px;
      input {
        text-align: center;
        height: 40px;
      }
    }
  }
  .s-card-slider {
    width: 200px;
    float: left;
    height: 41px;
    .carousel-inner {
      height: 48px;
      overflow: hidden;
      text-align: center;
      width: calc(100% - 30px);
      .carousalItem-list {
        position: relative;
      }
    }
    .carousel-control {
      font-size: 36px;
      background: transparent;
      top: 10px;
      font-weight: normal;
      &.left {
        margin-left: -30px;
      }
      &.right {
        /*margin-right: -5px;*/
      }
    }
  }
}
