<section class="quick-deposit-f" [ngClass]="{'show': !hideDeposit,'hide': hideDeposit}">
  <div class="quick-deposit-f-holder hide">
    <div *ngIf="savedCards && savedCards.length > 0">
      <div class="s-card-slider">
        <div class="carousel slide" id="qdSlider" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item" [ngClass]="{'active':i==0}" *ngFor="let card of savedCards; let i = index">
              <div class="s-card-details-f">
                <span class="s-card-logo creditcard">
                </span>
                <span class="s-card-number">
                  {{card.maskedAccount.substr(card.maskedAccount.length-8,card.maskedAccount.length)}}
                </span>
              </div>
            </div>
          </div>
          <a (click)="moveTo('prev',$event)" class="left carousel-control" data-slide="prev" id="prev">‹</a>
          <a (click)="moveTo('next',$event)" class="right carousel-control" data-slide="next" id="next">›</a>
        </div>
      </div>
      <div class="cvc-field" [formGroup]="creditCardForm" [ngClass]="getFormFiledClass('cvv',creditCardForm)">
        <div class="error-msg" *ngIf="shouldShowErrors('cvv',creditCardForm)">
          <div class="error-msg--inner">{{getErrorMessage('cvv',creditCardForm)}}</div>
        </div>
        <input type="text" name="cvv" class="form-control" placeholder="CVC" formControlName="cvv" (focus)="onFocusForElement('cvv')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()">
      </div>
      <div class="amt-field" [formGroup]="cashierDetailsForm" [ngClass]="getFormFiledClass('amount',cashierDetailsForm)">
        <div class="error-msg" *ngIf="shouldShowErrors('amount',cashierDetailsForm)">
          <div class="error-msg--inner">{{getErrorMessage('amount',cashierDetailsForm)}}</div>
        </div>
        <input type="text" name="amount" class="form-control" placeholder="$$$" formControlName="amount" (focus)="onFocusForElement('amount')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()">
      </div>
    </div>
    <div class="loader-space " *ngIf="!savedCards">
            <app-jkr-loader *ngIf="!transactionDetails"></app-jkr-loader>

    </div>




    <div class="loader-space " *ngIf="savedCards && savedCards.length <= 0">
      <p class="no-cc"> No Cards Saved Founds</p>
    </div>
  </div>
  <div class="quick-deposit-f-msg hide">
    <span class="icon success"><!-- failure -->
      <i class="icon-tick"></i>
    </span>
    <span class="text">
      <h5>Top up success <!-- Top up Unsuccessful --></h5>
      <p>For transaction details check your history <!-- This transaction could not be processed --></p>
    </span>
  </div>
  <div class="icon-spin loader-space hide" id="quickDepositLoader">
    <i class="icon-loader"></i>
  </div>
  <div class="qd-btn-group">
    <button class="btn  btn-primary qd-btn deposit" (click)="openOrDeposit()" id="depositButton">Deposit</button>
    <button class="btn  btn-primary qd-btn TopUp hide" (click)="openOrDeposit()" id="topUpButton">Top Up</button>
    <button class="btn  btn-primary qd-btn ok hide" (click)="closeQuickDeposit()" id="okButton">OK</button>
    <button class="btn  btn-primary qd-btn retry hide" (click)="retryQuckDeposit()" id="retryButton">Retry</button>
  </div>
  <!-- btn-failure btn-success -->
</section>
