<!-- <input type="text" placeholder="Username or Email">
<input type="password" placeholder="Password">
<button class=" btn header__btn--login">Login</button> -->
<div class="loginFormContainer" (click)="stopBodyClickPropogation($event)">
  <form [formGroup]="loginForm" (ngSubmit)="login('loginButton')" novalidate class="loginForm" (keyup.enter)="login('loginButton')">
    <input formControlName="txtEmail" name="email" placeholder="User Name or Email" type="email" />
    <span class="pwd-input">
      <input formControlName="txtPassword" name="password" placeholder="Your Password" type="password" />
      <!--    <span class="forgotPwd-icon "><i class="ionicons ion-ios-help-outline"></i></span> -->
    </span>
  </form>
  <button type="button" id="loginButton" class="btn btn-md btn-ghost  header__btn--login " (click)="login('loginButton')">
    <span>Login</span>
  </button>
  <div class="tooltip-login fadeInUp" [ngClass]="serverError ? 'tooltip-login__error' : ''">
    <span [innerHtml]="serverError ? serverError : 'Please enter a Username and a Password'"></span>
    <br/>
    <br/>
    <a (click)="openForgotPassword()">Forgot Password?</a>
  </div>
</div>
<div id="loginModal" class="modal loginModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="submit" class="close" (click)="closeLoginModal()">
             <i class="icon-close"></i>

        </button>
        <h4 class="modal-title"> </h4>
      </div>
      <div class="modal-body">
        <div class="loginBoxModal ">
          <div class="jr-logo-s">
            <img src="/assets/img/logo.png" alt="Joka Room Logo">
          </div>
          <h1>Hi, Welcome back.</h1>
          <form [formGroup]="loginForm" (ngSubmit)="login('loginPopupButton')" novalidate class="loginForm" (keyup.enter)="login('loginPopupButton')">
            <div class="btn btn-md msg-error" *ngIf="serverError && serverError != 'LOGIN_SUCCESS'" [innerHTML]="serverError"></div>
            <div class="form-group" [ngClass]="{'has-error': shouldShowErrorsInverted('txtEmail',loginForm)}">
              <div class="error-msg" *ngIf="shouldShowErrors('txtEmail',loginForm)">
                <div class="error-msg--inner">
                  {{getErrorMessage('txtEmail',loginForm)}}
                </div>
              </div>
              <input formControlName="txtEmail" name="txtEmail" placeholder="User Name or Email" type="email" class="form-control" (focus)="onFocusForElement('txtEmail')" (focusout)="onFocusOutForElement()"/>

            </div>
            <div class="form-group input-group" [ngClass]="{'has-error': shouldShowErrorsInverted('txtPassword',loginForm)}">
              <div class="error-msg" *ngIf="shouldShowErrors('txtPassword',loginForm)">
                <div class="error-msg--inner">{{getErrorMessage('txtPassword',loginForm)}}
                </div>

              </div>
              <input formControlName="txtPassword" name="txtPassword" placeholder="Your Password" type="password" class="form-control" (focus)="onFocusForElement('txtPassword')" (focusout)="onFocusOutForElement()"/>
              <i class="pwd-eye input-group-btn" [ngClass]="viewPassword ? 'pwd-hide' : 'pwd-show'" (click)="viewPassword = !viewPassword"></i>
            </div>

          </form>
          <div class="form-group">
            <button type="button" id="loginPopupButton" class="btn btn-md btn-primary " (click)="login('loginPopupButton')">
              <span>Log in</span>
            </button>
          </div>
          <div class="form-group btn-sign">
            <app-signup (loginComplete)="emitLoginComplete($event)" [callingFrom]="'loginPage'"></app-signup>
          </div>
          <div class="footer-msg" (click)="openForgotPassword()">
            Forgot your password?
          </div>
        </div>
        <div class="forgotPwdBox hide">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword('recoverPassword')" novalidate class="loginForm" (keyup.enter)="forgotPassword('recoverPassword')">
            <div class="jr-logo-s">
            <img src="/assets/img/logo.png" alt="Joka Room Logo">
          </div>

            <i class="ion-locked"></i>
            <h1>Recover your password.</h1>
            <div class="form-group {{getFormFiledClass('email',forgotPasswordForm)}}" >
              <div class="error-msg" *ngIf="shouldShowErrors('email',forgotPasswordForm)">
                <div class="error-msg--inner">{{getErrorMessage('email',forgotPasswordForm)}}</div>
              </div>

              <input formControlName="email" name="email" placeholder="Your Email" type="email" class="form-control" (focus)="onFocusForElement('email')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()"/>
            </div>
            <div class="form-group">
              <button type="button" id="recoverPassword" class="btn btn-md btn-primary " (click)="forgotPassword('recoverPassword')">
                <span>SEND</span>
              </button>
              <div class="btn btn-md msg-success" *ngIf="forgetPasswordServerError && forgetPasswordServerError == 'RESET_PASSWORD_SUCCESS'">
                <i class="icon-img success-icon"></i>  Reset Password e-mail has been sent.</div>
              <div class="btn btn-md msg-error" *ngIf="forgetPasswordServerError && forgetPasswordServerError != 'RESET_PASSWORD_SUCCESS'">    <i class="icon-img error-icon"></i>
              {{forgetPasswordServerError}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
