 @import "~variables.scss";
 @import "~mixin.scss";

 .loginFormContainer {
   display: table-cell;
   position: relative;





   .loginForm {
     display: none;
     float: left;
     padding: 0px 10px;
     border-radius: 2px;
     margin-right: -3px;
     /*     background-color: $secondaryBtnBgColor;*/
     &.formFieldShow {
       display: block;
     }
     input {
       font-style: italic;
       /*   padding: 8px 10px;*/
       padding: 0px 10px;
       font-size: 14px;
       box-sizing: border-box;
       border: 2px solid $secondary-color;
       /*   line-height: 25px;*/
       color: #000;
       line-height: 30px;
       margin-right: 10px;
       width: 200px;
       font-weight: 400;
       height: 34px;


       &:focus {
         outline-offset: 0;
         outline: 0;
       }
     }
     /*     .pwd-input {
       position: relative;
       .forgotPwd-icon {
         position: absolute;
         right: 0;
         top: -4px;
         background-color: #DDDDDD;
         padding: 1px 5px 2px;
         color: #B2B2B2;
         border-radius: 0 2px 2px 0;
         font-size: 20px;
         cursor: pointer;
       }
     }*/
   }
   .tooltip-login {
     display: none;
     position: absolute;
     z-index: 1;
     text-transform: uppercase;
     padding: 10px;
     font-size: 12px;
     line-height: 1.2;
     background: $black-bg-color;
     color: #fff;
     text-align: center;
     right: 0;
     max-width: 170px;
     margin-top: 20px;


     &:before {
       position: absolute;
       content: '';
       border: 12px solid transparent;
       border-top-color: transparent;
       border-bottom-color: $black-bg-color;
       top: -24px;
       left: 50%;
       margin-left: -12px;

       content: " ";
       position: absolute;
       z-index: 99999;
     }
     a {
       color: $anchor-link-color;
       font-style: italic;
       font-size: 11px;
       text-transform: capitalize;
       text-decoration: underline;
       cursor: pointer;
       &:hover {
         color: darken($anchor-link-color, 5%);
       }
     }
     &.tooltip-login__error {
       background: $error-msg-bg-color;
       color: $error-msg-text-color;
       &:before {
         border-bottom-color: $error-msg-bg-color;
       }
       a {
         color: #fff;
       }
     }
   }
 }

 .loginModal {
   * {}

   h1 {
     color: $popup-title-text-color;
     font-weight: 400;
     text-align: center;
     font-size: 20px;
     margin: 0;
     padding: 15px 0;
     /*     text-transform: uppercase;
*/
   }

   .modal-dialog {
     width: 400px;
   }
   .modal-content {
     background: $popup-bg-color;
     /*     box-shadow: 4px 4px 15px #000;
*/
     border: transparent;
     border-radius: 0;
     .modal-header {
       border: 0;
     }
     .modal-body {
       padding: 40px;
       padding-top: 0px;
       /* min-height: 400px;*/
       .footer-msg {
         text-align: center;
         font-size: 14px;
         line-height: 14px;
         font-weight: 400;
         margin-top: 20px;
         color: $signup-popup-footer-text-color;
         clear: both;
         width: 100%;

         a {
           color: $signup-popup-footer-linktext-color;
           text-decoration: underline;
         }
       }
       .form-group {
         width: 100%;
         .btn {
           width: 100%;
           text-transform: uppercase;
           &.msg-error,
           &.msg-success {
             margin: 20px auto;
           }
         }
       }



       .loginBoxModal {
         width: 100%;

         .form-group {

           &.btn-sign {
             .btn {
               @extend .btn-md;
               @extend .btn-primary;
             }
           }
         }
         .footer-msg {
           font-style: italic;
         }
       }

       .forgotPwdBox {
         width: 100%;
         text-align: center;
         i {
           font-size: 35px;
           color: $primary-color;
         }
       }
     }
   }
 }


 @media only screen and (max-width: 991px) {
   .loginModal {
     .modal-dialog {
       width: 100vw;
       height: 100vh;
       margin: 0;
     }

     .modal-header {

       padding: 0;
      }

     .modal-content {
       height: 100%;
       background: $site-body-bg-image no-repeat center center;
       background-size: cover;

       .modal-body {
         @include modalViewFitOnSmallScreen;
       }
     }
   }
 }
