 <section class="country-block">
  <div class="container">
    <div class="text-content ">
      <div class="inner">
         
        <h1>Access denied </h1>
          <h2>What happened?</h2>
          <p>The owner of this website (www.jokaroom.com) has restricted the country or region your IP address is in ({{countryCode}}) from accessing this website.</p>
          <p>

            For any questions please contact us as  <a href='mailto:support@jokaroom.com'>support@jokaroom.com </a></p>
   
      </div>
    </div>
  </div>
</section>
