
@import "~variables.scss";

.country-block{
  background: url('/assets/img/page-not-found.jpeg') no-repeat center;
  background-size: cover;

  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  &:before {
    background:$page-not-found-bg-color;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .container{
    position: relative;
  }
  h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: $page-not-found-title-color;
    @media (max-width: 600px) {
      font-size: 24px;
    }
  }
  h2{
    color: #FFF;
  }
  p{
    color:$page-not-found-page-text-color;
    margin-top: 20px;
    font-size: 16px;

  }

  .text-content {
    display: table;
    height: 100vh;
    width: 100%;
    text-align: center;
    .inner {
      vertical-align: middle;
      display: table-cell;

    }
  }
}
