<section class="current-bonus">
  <div class="table-holder bonus-table">
    <h3 class="title">Casino Bonuses</h3>
    <p *ngIf="activeBonusList && activeBonusList.length <= 0">Currently there are no casino bonuses available.</p>
    <table class="table" *ngIf="activeBonusList && activeBonusList.length > 0">
      <tbody>
        <tr *ngFor="let activeBonus of activeBonusList;let i = index">
          <td class="bonus-description">
            <p class="text-white">{{activeBonus.bonusName}}</p>
            <p class="small">{{activeBonus.bonusCode}}</p>
          </td>
          <td class="bonus-boxes b-m">
            <h3>{{currencyCode}} {{activeBonus.currentRestrictedAmount}}</h3>
            <p>Bonus money</p>
          </td>
          <td class="bonus-boxes b-w">
            <h3>{{currencyCode}} {{activeBonus.currentWagerAmount}}</h3>
            <p>Wagered</p>
          </td>
          <td class="bonus-boxes b-w-l">
            <h3>{{currencyCode}} {{activeBonus.distanceToRelease}}</h3>
            <p>Left to wager</p>
          </td>
          <td class="bonus-expiry">
            <span class="pull-left" >
              <p class="text-white">{{activeBonus.expiredDate | date:"dd-MM-yyyy hh:mm"}}</p>
              <p class="small">Expiry date</p>
            </span>
            <span class="pull-right popout-btn" (click)="openForeFeit(i)">
            	<i class="icon-close"></i>
            </span>
            <div class="popout" id="popout{{i}}">
              <p>Forfiet Bonus. Are you sure? </p>
              <p class="small">You will lose {{currencyCode}} {{activeBonus.currentCRP + activeBonus.currentWRP}} </p>
              <div class="btn-group">
                <button id="forfeitYes{{activeBonus.ecrBonusId}}" class="btn btn-xs btn-ghost pull-left" (click)="forfeitBonus(activeBonus.ecrBonusId)">Yes</button>
                <button id="forfeitNo{{activeBonus.ecrBonusId}}"class="btn btn-xs btn-ghost pull-right" (click)="closeForeFeit(i)">No</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
