@import "~variables.scss";
@import "~custom-animation.scss";


.current-bonus {
  .table-holder {
    margin: -10px;
  }

  h3,
  p {
    margin: 0;
  }
  h3 {
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    &.title {

      text-transform: uppercase;
    }
     &.title ,
     &.title + p{
    padding: 10px 10px 0px 10px;
    }

  }

  p {
    margin: 0;
    font-size: 14px;
    color: #999;

    &.small {
      font-size: 12px;
      color: #999;
    }
    &.text-white {
      color: #FFF;
    }
  }

  .bonus-boxes {
    p {
      color: #999
    }
  }
  // .bonus-boxes {
  //   p {
  //     color: #000;
  //   }
  //    &.b-m {
  //     background: darken($primary-color, 15%);
  //   }
  //    &.b-w {
  //     background: darken($primary-color, 10%);
  //   }
  //    &.b-w-l {
  //     background: darken($primary-color, 5%);
  //   }
  // }
  .bonus-expiry {
    position: relative;
    i {
      font-size: 16px;
      color: $primary-color;
      &:before{
        font-size:24px;}
    }
    .popout-btn {
      cursor: pointer;
    }

    .popout {
      display: inline-block;
      background: $error-msg-bg-color;
      padding: 10px;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: -35px;
      text-align: center;
      width: 100%;
      transition: all 250ms ease;
      @extend .fadeOut;
      .btn-group {
        margin-top: 10px;
        .btn {
          &:first-child {
            margin-right: 10px;
          }
          min-width:40px;
        }
      }
      p {
        color: $error-msg-text-color;
        font-size: 14px;
        &.small {
          font-size: 12px;
          margin-top: 5px;
        }
      }
      &.show {
        visibility: visible;
        @extend .fadeIn;
      }
    }
  }





  table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
    tbody {
      tr:nth-child(even),
      tr:nth-child(odd) {
        background: transparent;
      }
    }
    td {
      border: 1px solid $primary-color;
      padding: 10px;
      vertical-align: middle;
    }
  }
}


@media only screen and (max-width: 991px) {
  .current-bonus {
    .bonus-expiry{
      .popout{
        top: -39px;
      }
    }
    .bonus-boxes {
      h3 {
        float: left;
      }
      p {
        text-align: right;
        float: right;
      }
    }
    table {
      tr {
        td {
          display: block;
          width: 100%;
          float: left;
        }
      }
    }
  }
}
