@import "~variables.scss";
@import "~cms-stylesheet.scss";
@import "~mixin.scss";

.promotion-cms-pages {
  padding: 0!important;
  .promo-banner {
    position: relative;
    height: 386px;
    margin-bottom: 20px;
    &__img-holder {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: $site-body-bg-color;
      img {
        height: 100%;
        object-fit: cover;
        margin: auto;
        @media only screen and (max-width: 991px) {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .promo-slider {
      display: flex;
      flex-direction: column;
      text-align: left;
      text-shadow: none;
      padding: 0;
      text-transform: uppercase;
      position: relative;
      color: #FFF;
      height: 100%;
      min-height: 350px;

      h1,
      h3,
      p {
        margin: 0;
      }
      &__text-holder {
        display: table;
        height: 300px;
      }
      &__text {
        display: table-cell;
        vertical-align: middle;
      }
      &--title {
        font-size: 38px;
        line-height: 38px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-bottom: 20px;
      }
      &--sub-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
      }
      &--link {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #FFF;
        float: left;
      }
      &__btn {
        margin-top: 50px;
        position: absolute;
        bottom: 0px;
        /*width: 100%;*/
        text-align: center;
        @media only screen and (min-width: 992px) {
          margin-left: 122px;
        }
        a {
          min-width: 200px;
          text-transform: uppercase;
          color: $promotions-btn-text-color!important;
          &:hover {

            text-decoration: none;
          }
          /* color: $promotions-btn-text-color;
          &:hover {
            background: $promotions-btn-hover-bg-color;
            color: $promotions-btn-hover-text-color;
            text-decoration: none;
          }*/
        }

        &--cta {
          /* background: $promotions-btn-bg-color;
          color: $promotions-btn-text-color;
          font-size: 28px;
          line-height: 1;
          padding: 12px 20px;
          letter-spacing: 0.8px;
          font-weight: 600;
          border-radius: 2px;
          min-width: 200px;
          &:hover {
            background: $promotions-btn-hover-bg-color;
            color: $promotions-btn-hover-text-color;
          }*/
        }
      }
    }
  }
  .promotions-content {
    padding-bottom: 30px;
  }

  ol,
  ul {
    li {
      color: #FFF;
    }
  }

  .btn-promo-banner {
    border-radius: 0;
    font-size: 28px;
    line-height: 1;
    padding: 15px;
    /*letter-spacing: 0.8px;*/
    font-weight: 700;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .promotion-cms-pages {

    .promo-banner {
      height: 200px;
      /*  margin-left: -15px;
      margin-right: -15px;*/
      .promo-slider {
        min-height: 200px;
        &__text-holder {
          height: 100%;
          min-height: 170px;
        }
        &__text {
          padding: 10px 0;
        }
        &--title {
          font-size: calc(10px + 1vw);
          padding: 0;
          line-height: 1.5;
        }
        &--sub-title {
          font-size: calc(7px + 1vw);
          line-height: 20px;
        }
        &--link {
          font-size: calc(7px + 1vw);
          margin: 0;
        }
        &__btn {
          bottom: 20px;
          margin-top: 0;
          text-align: center;
          width: 100%;
          a {
            min-width: 100px;
          }


          &--cta {
            min-width: 100px;
            padding: 6px 10px;

            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.8px;
          }
        }
      }
    }

    .btn-promo-banner {
      min-width: 100px;
      padding: 6px 10px;

      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.8px;
    }
  }
}
