<div id="promoContent" *ngIf="isPageAvailable && !loader" class="push-side"></div>
<app-page-not-found *ngIf="!isPageAvailable && !loader"></app-page-not-found>
<div class="loader-jr loader-jr-static push-side promo-loader" *ngIf="loader">
  <app-jkr-loader></app-jkr-loader>
</div>
