<div id="resetPassword" class="modal resetPasswordFormModal" tabindex="-1"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="submit" class="close" (click)="closeModal('resetPassword',true,false)">
   <i class="icon-close"></i>
      </button>
        <h4 class="modal-title"> </h4>
      </div>
      <div class="modal-body">
        <div class="loginBoxModal ">
          <div class="jr-logo-s">
            <img src="/assets/img/logo.png" alt="Joka Room Logo">
          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword('resetPasswordButton')" novalidate class="loginForm" (keyup.enter)="resetPassword('resetPasswordButton')">
            <div class="form-group input-group" [ngClass]="getFormFiledClass('password',resetPasswordForm)">
              <input formControlName="password" name="password"  class="form-control"  placeholder="Enter Password" [type]="newPasswordType ? 'password' : 'text'" (focus)="onFocusForElement('password')" (focusout)="onFocusOutForElement()">
              <i class="pwd-eye input-group-btn" [ngClass]="newPasswordType ? 'pwd-hide' : 'pwd-show'" (click)="newPasswordType = !newPasswordType"></i>
            </div>
            <div class="error-msg" *ngIf="shouldShowErrors('password',resetPasswordForm)">
              <div class="error-msg--inner">{{getErrorMessage('password',resetPasswordForm)}}</div></div>
            <div class="form-group input-group" [ngClass]="getFormFiledClass('confirmPassword',resetPasswordForm)">
              <input formControlName="confirmPassword" name="confirmPassword"  class="form-control"  placeholder="Confirm Password" [type]="confirmPasswordType ? 'password' : 'text'" (focus)="onFocusForElement('confirmPassword')" (focusout)="onFocusOutForElement()">
              <i class="pwd-eye input-group-btn" [ngClass]="confirmPasswordType ? 'pwd-hide' : 'pwd-show'" (click)="confirmPasswordType = !confirmPasswordType"></i>
            </div>
            <div class="error-msg" *ngIf="shouldShowErrors('confirmPassword',resetPasswordForm)">
              <div class="error-msg--inner">{{getErrorMessage('confirmPassword',resetPasswordForm)}}</div></div>
          </form>
          <div class="form-group">
            <button type="button" id="resetPasswordButton" class="btn btn-md btn-primary" (click)="resetPassword('resetPasswordButton')"> 
              <span>RESET PASSWORD</span>
            </button>
            <div class="btn btn-md msg-success" *ngIf="serverError && serverError == 'RESET_PASSWORD_SUCCESS'">
             <i class="icon-img success-icon"></i> Password reset successfully. Please login.</div>
            <div class="btn btn-md msg-error" *ngIf="serverError && serverError != 'RESET_PASSWORD_SUCCESS'">
             <i class="icon-img error-icon"></i> {{serverError}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
