 @import "~variables.scss";

@import "~mixin.scss";

.resetPasswordFormModal {
  * {
    font-family: $font-primary;
  }

  h1 {
     color: $popup-title-text-color;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
  }

  .modal-dialog {
    width: 400px;
  }
  .modal-content {
    background:$popup-bg-color;
   /* box-shadow: 4px 4px 15px #000;*/
    border: transparent;
    border-radius: 0;
    .modal-header {
      border: 0;
    }
    .modal-body {
      padding: 40px;
      padding-top: 0px;
    /*  min-height: 400px;*/
      .footer-msg {
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        margin-top: 20px;
         color: $signup-popup-footer-text-color;
        clear: both;
        width: 100%;

        a {
           color: $signup-popup-footer-linktext-color;
          text-decoration: underline;
        }
      }
        .form-group {
         width: 100%;
         .btn {
           width: 100%;
           text-transform: uppercase;
           &.msg-error,
           &.msg-success {
             margin: 20px auto;
           }
         }
       }



      .loginBoxModal {
        width: 100%;
        
        .form-group {

          &.btn-sign {
            .btn {
              @extend .btn-md;
              @extend .btn-primary;
            }
          }
        }
      }

      .forgotPwdBox {
        width: 100%;
        text-align: center;
        i {
          font-size: 35px;
          color: #bbb;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .resetPasswordFormModal {
    .modal-dialog {
      width: 100vw;
      height: 100vh;
      margin: 0;
    }

    .modal-header {
      .close {
        font-size: 50px;
      }
    }

    .modal-content {
      height: 100%;
      .modal-body {
          @include modalViewFitOnSmallScreen;

      }
    }
  }
}
