  @import "~variables.scss";
  @import "~mixin.scss";


  .cashierModal {
    /*  @media (min-width: 992px) {
      .modal-dialog {
        width: 800px;
      }
    }*/
    .no-method-found{
      h3{
        color: #FFF;
      }
    }
    .b-notfound{
      color: #FFF;
      text-align: center;
    }
    #redirectionDiv {
      background: $card3d-redirection-page-bg-color;
      position: relative;
      padding-bottom: 65.25%;
      padding-top: 30px;
      height: 0;
      min-height: 400px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
           @include customscrollbars;
    }
      #loaderIframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    .modal-content {
      box-shadow: none;
      border-radius: 3px;
      background: $popup-bg-color;
      border: 0;
    }
    .modal-header {
      background: $casheir-header-bg-color;
      border: 0;
      .close {
        margin: 0;
        /*padding: 3px 10px;*/
        padding: 0;
        position: relative;
      }
      .nav-tabs {
        border: 0;
        li {
          margin-bottom: 0;
          a {
            font-size: 15px;
            color: $casheir-tab-link-text-color;
            text-align: center;
            text-transform: uppercase;
            border: 0;
            border-radius: 0;
            padding: 12px 31px;
            min-width: 150px;
            margin-right: 0;
            &:hover,
            &:focus {
              background-color: $casheir-active-tab-bg-color;
            }
          }
          &.active {
            a {
              background: $casheir-active-tab-bg-color;
              font-weight: bold;
            }
          }
        }
      }
    }

    .modal-body {
      /*      background: $casheir-body-bg-color;*/
      padding: 20px;
      padding-top: 0;

      /*    min-height: 630px;*/
    }

    .payment-form {
      /*      .no-padding {
        &:first-child {
          padding-right: 0;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
      }*/
      &__option,
      &__fields {
        width: 100%;
        float: left;

        min-height: 520px;
        .title {
          @extend .casheir-lable;
          padding: 0 5px;
          margin-bottom: 10px;
          float: left;
          width: 100%;
        }
      }
      &__option {
        background: $casheir-payment-option-bg-color;
        padding: 20px;
        .list-holder-outer {
          max-height: 300px;
          overflow-y: auto;
          padding: 0px;
          margin-bottom: 0;
          float: left;
          width: calc(100% + 5px);
          margin-left: -2.5px;
          margin-right: -2.5px;
          /*          width: calc(100% + 20px);*/
          @include customscrollbars;
        }
        .list-holder {}
        .list {
          @include payment-option-list-grid;
          @include payment-method-logo-grey;

          &:hover {
            transform: scale(1.1);
            backface-visibility: hidden;
            @include payment-method-logo-color;
          }
        }
        .selected-method {
          display: table;
          width: 100%;
          &__type,
          &--title,
          .change-link {
            display: table-cell;
            vertical-align: middle;
          }
          &__type {
            @include payment-option-list-grid;
            @include payment-method-logo-grey;
            cursor: initial;
          }
          &--title {
            font-size: 14px;
            color: $casheir-lable-text-color;
          }
          .change-link {
            cursor: pointer;
            @extend .casheir-lable;
            text-align: right;
            color: $casheir-payment-amount-btn-bg-active-bg-color;

            &:hover {
              color: darken($casheir-payment-amount-btn-bg-active-bg-color, 18%);
            }
          }
        }
      }
      &__fields {
        background: $casheir-payment-form-field-bg-color;
        border: 1px solid $primary-color;
        padding: 20px;
        .amount-btn-holder {

          float: left;
          margin-left: -5px;
          margin-right: -5px;
          margin-bottom: 5px;
          box-sizing: border-box;
          width: calc(100% + 10px);
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width: calc(100% + 9px);
          }

          .amount-btn {
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            color: $casheir-payment-amount-btn-text-color;
            text-align: center;
            background: $casheir-payment-amount-btn-bg-color;
            padding: 8px 5px 5px;
            margin: 5px;

            float: left;
            width: calc((100% / 3) - 10px);
            box-sizing: border-box;
            border: 2px solid $casheir-payment-amount-btn-border-color;
            cursor: pointer;
            position: relative;
            transform: translateY(0);


            &:hover,
            &.active,
            &:active {
              background: $casheir-payment-amount-btn-bg-active-bg-color;
              border-color: transparent;
              transition: all 250ms ease;
            }
          }
        }
      }
      .payment-fees-details {
        background-color: rgba(#FFF, 0.05);
        color: $casheir-lable-text-color;
        padding: 5px;
        margin: 20px 0;
        width: 100%;
        display: inline-flex;
        align-items: center;
        line-height: 1.3;
        font-size: 12px;
        img {
          margin-right: 10px;
          float: left;
          height: 26px;
        }
      }
      .bonus-offer-amt-holder {
        float: left;
        width: 100%;
        max-height: 175px;
        overflow-y: auto;
        margin: 10px 0;
        padding: 5px 0;
        border: 2px solid $primary-color;
        transition: all 250ms ease;

        @include customscrollbars;
        .loader-eligible-bonus {
          margin: auto;
          height: 98px;
          transition: all 250ms ease;

        }
      }
      .bonus-offer-amt {
        float: left;
        width: 100%;
        border-radius: 8px;
        background: $casheir-bonus-amt-bg-color;
        padding: 0 10px;
        /*        &:first-child {
          margin-top: 5px;
        }
        &:last-child {
          margin-bottom: 5px;
        }*/
        .radio {
          margin-top: 5px;
          margin-bottom: 5px;
          label {
            @extend .casheir-lable;
            .label-text {
              position: relative;
              top: 3px;
              .bonus-name {
                color: #FFF;
              }
            }
            color: $casheir-radio-btn-nonchecked-color;
          }
        }
      }

      .casheir-btn {
        text-align: center;
        margin: 10px auto;
        float: left;
        width: 100%;
        .btn {
          /*   padding: 10px;
          font-weight: 900;
          font-size: 22px;
                    border-radius: 6px;

          line-height: 1.2;
          text-transform: uppercase;
          max-width: 100%;
          text-overflow: ellipsis;
        color: $casheir-submit-btn-text-color;
          background-color: $casheir-submit-btn-bg-color;
          box-shadow: 0px 6px darken($casheir-submit-btn-bg-color, 10%);*/
          font-weight: 700;
          width: 100%;
          transition: all 250ms ease;
          overflow: hidden;
          text-overflow: ellipsis;
          &:disabled {
            opacity: 0.25;
            cursor: not-allowed;
            pointer-events: none;
          }
          /*    &:hover {
            background-color: darken($casheir-submit-btn-bg-color, 5%);
          }
          &:active {
            transform: translateY(2px);
            box-shadow: 0px 5px darken($casheir-submit-btn-bg-color, 10%);
            transition: all 250ms ease;
          }*/
        }
      }

      .form-input {
        width: 100%;
        float: left;
        margin: 10px 0;
      }
    }
    .max-display-withdrawal-pending {
      max-height: 60px;
      overflow-y: auto;
      @include customscrollbars;
    }
    .pending-withdrawals {
      padding: 0 15px;

      .pending-info-box {
        background: $casheir-pending-withdral-bg-color;
        color: $casheir-pending-withdral-text-color;
        padding: 15px 5px;
      }
      .max-display-withdrawal-pending {
        padding: 10px 0px;
        background: $casheir-pending-withdral-list-bg-color;
      }
      .icon,
      .text {
        float: left;
        display: inline-block;
        vertical-align: middle;
      }
      .text {
        width: calc(100% - 40px);
        .pending-info {
          text-transform: uppercase;
        }

        p {
          margin: 0;
          line-height: 1.5;
        }
      }
      .icon {
        width: 40px;
      }
      .space-gap {
        margin: 5px 0;
      }
      /* .info-icn {
        background: darken( $casheir-payment-amount-btn-bg-active-bg-color, 10%);
        width: 24px;
        height: 24px;
        color: #FFF;
        border-radius: 50%;
        font-size: 15px;
        display: inline-block;
        text-align: center;
        margin-right: 4px;
        margin-right: 5px;
      }*/
      &--list {
        display: table;
        vertical-align: middle;
        width: 100%;


        .img-icon,
        .withdrawal-amt,
        .withdrawal-reverse-link {
          display: table-cell;
          vertical-align: middle;
        }
        .img-icon {
          @include payment-method-logo-color;

          width: 65px;
          height: 32px;
          background-size: cover!important;
          background-position: center!important;
        }
        .withdrawal-amt {
          padding: 0 10px;
        }
        .withdrawal-amt,
        .withdrawal-reverse-link {
          text-align: center;
          font-size: 16px;
          font-weight: 700;
        }

        .withdrawal-reverse-link {
          cursor: pointer;

          text-transform: uppercase;
        }
      }
    }

    .txn-modal {
      width: 400px;
      .modal-body {
        padding-top: 0;
      }
    }

    .txn-status {
      min-height: 300px;
      p,
      .text {
        font-size: 16px;
        text-align: center;
      }
      strong,
      .text {
        color: #FFF;
      }
      p {
        color: #999;
        text-align: center;
        strong {

          text-transform: uppercase;
        }
        margin-top:20px;
      }
      .txn-logo {
        text-align: center;
        margin: auto;
        display: block;
        .txn-card-num {
          display: inline-block;
          position: relative;
          top: -20px;
        }
      }
      .txn-status-msg {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0px;
      }
      .txn-status-fail-msg {
        display: table;
        display: inline-flex;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        border: 2px solid $primary-color;
        .icon,
        .text {
          display: table-cell;
          vertical-align: middle;
        }
        .icon {
          width: 40px;
          float: left;
          margin-right: 10px;
        }
        .text {
          width: calc(100% - 50px;
          font-style: italic;

          )
        }
      }
      .link-text {
        color: $anchor-link-color;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }


      .txn-btn {
        min-width: 200px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px auto 0;
      }
    }
  }



  @media only screen and (max-width: 991px) {
    .cashierModal {
     /* background: rgba($popup-bg-color, 1);*/
     margin-top: 200px;
     overflow-y: auto;
      .payment-form {
        &__option,
        &__fields {
          min-height: 1px;
        }
      }
      .modal-dialog {
        width: 100vw;
        width: 100%;
        margin: 0px auto;
      }
      .modal-content {
        height: 100vh;
        height: 100%;
/*        background: rgba($popup-bg-color, 1);
*/      }
      .modal-header {
        position: sticky;
        z-index: 9999;
        top: 0;
/*        background: rgba($popup-bg-color, 1);
*/      }
    }
  }



  @media only screen and (max-width: 767px) {
    .cashierModal {
      .modal-body {
        padding: 0;
      }

      .payment-form {
        &__option,
        &__fields {
          min-height: 1px;
        }
        .no-padding {
          &:first-child {
            padding-right: 15px;
          }
          &:nth-child(2) {
            padding-left: 15px;
          }
        }
      }
      .txn-modal {
        width: 100vw;
        .modal-body {
          padding: 20px;
        }
      }
    }
  }


  @media only screen and (max-width: 359px) {

    .cashierModal {
      .payment-form {
        &__option {
          .list {
            width: calc((100% / 3) - 8px);
          }
        }
      }
    }
  }
