<div id="cashierModal" class="modal fade cashierModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" [ngClass]="{'txn-modal': txnStatus}" id="cashierModalDialog">
    <div class="modal-content">
      <div class="pending-withdrawals" *ngIf="txnType == 'deposit' && pendingWithdrawals && pendingWithdrawals.length > 0 && !redirection && !txnStatus">
        <div class="row pending-info-box">
          <div class="col-sm-12">
            <span class="icon">
              <i class="icon-img info-icon"></i>
            </span>
            <span class="text">
              <p class="pending-info">You have <strong>{{pendingWithdrawals.length}}  Pending withdrawals!</strong> Use now instead of making a deposit?</p>
              <p class="small">Reversing pending withdrawals is free</p>
            </span>
          </div>
        </div>
        <div class="row max-display-withdrawal-pending">
          <ng-container *ngFor="let withdrawal of pendingWithdrawals">
            <div class="col-md-4 col-sm-6 col-xs-12 space-gap">
              <div class="pending-withdrawals--list">
                <span class="img-icon {{withdrawal.txType.substr(0,withdrawal.txType.indexOf('Withdrawal')).toLowerCase()}}">

                </span>
                <span class="withdrawal-amt">{{withdrawal.amount.substr(1)}}</span>
                <span id="{{'withdrawal-'+withdrawal.transactionId}}" class="withdrawal-reverse-link  btn-sm btn-banner" (click)="reverseWithdrawal(withdrawal.transactionId,'withdrawal-'+withdrawal.transactionId)">Reverse</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-header">
        <span class="hide" (click)="getTransactionResult()" id="getTransactionResultButton"></span>
        <span class="hide" (click)="closeAndShowAllTransactions('cashierModal')" id="openTransactionButton"></span>
        <button type="button" class="close" (click)="closeModal('cashierModal')" id="cashierCloseButton">
          <i class="icon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="myDeposit">
            <div *ngIf="(availableMethods && availableMethods.length > 0) || txnStatus">
              <form class="payment-form" *ngIf="!redirection && !txnStatus">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="payment-form__option">
                      <div class="title">
                        <ng-container *ngIf="!selectedMethodName">Choose new {{txnType}} method</ng-container>
                        <ng-container *ngIf="selectedMethodName">{{txnType=='deposit' ? 'Pay' : 'Withdraw'}} with</ng-container>
                      </div>
                      <div class="list-holder-outer">
                        <div class="list-holder" *ngIf="!selectedMethodName">
                          <div class="list {{paymentMethod.service ? paymentMethod.service.toLowerCase() : paymentMethod.providerType.toLowerCase()}}" *ngFor="let paymentMethod of availableMethods" (click)="getFormFieldsForMethod(paymentMethod.service ? paymentMethod.service : paymentMethod.providerType,paymentMethod,'any',txnType)" (mouseenter)="setFeeAndLimit(paymentMethod)">
                          </div>
                        </div>
                        <div class="selected-method" *ngIf="selectedMethodName">
                          <span class="selected-method__type {{selectedMethodName.toLowerCase()}}">
                          </span>
                          <span class="selected-method--title">{{selectedMethod.displayName}}</span>
                          <span class="change-link" (click)="selectedMethodName=undefined">
                            Change
                          </span>
                        </div>
                      </div>
                      <div class="payment-fees-details">
                        <i class="icon-img info-icon"></i> {{fee ? fee : userCurrency+'0.00'}} Fee. Min {{minAmount ? minAmount : '0'}} | Max {{maxAmount ? maxAmount : '0'}}
                      </div>
                      <div class="app" *ngIf="selectedMethodName">
                        <app-dynamic-form [config]="selectedMethodInputs" [(form)]="form" [selectedMethodData]="selectedMethodCashierData" [callingFrom]="'cashier-'+selectedMethodName" (buttonClickedInForm)="dynamicFormButtonClicked($event)" [usedAccount]="usedAccount"></app-dynamic-form>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 ">
                    <div class="payment-form__fields">
                      <div class="title">Choose {{txnType}} amount</div>
                      <div class="amount-btn-holder">
                        <!-- Default amount btn  starts below-->
                        <button class="amount-btn" (click)="setAmount(amount)" [ngClass]="{'active':cashierDetailsForm.controls['amount'].value == amount && defaultAmount}" *ngFor="let amount of amounts">
                          {{userCurrency}}{{amount}}
                        </button>
                        <button class="amount-btn" (click)="setAmount('other')" [ngClass]="{'active':!defaultAmount}">
                          Other
                        </button>
                      </div>
                      <!-- Default amount btn  ends above-->
                      <!-- Other amount field  starts above-->
                      <div [ngClass]="{'show':!defaultAmount,'hide':defaultAmount}">
                        <div class="other-amt form-input" [formGroup]="cashierDetailsForm" [ngClass]="getFormFiledClass('amount',cashierDetailsForm)">
                          <div class="error-msg" *ngIf="shouldShowErrors('amount',cashierDetailsForm)">
                            <div class="error-msg--inner">{{getErrorMessage('amount',cashierDetailsForm)}}</div>
                          </div>
                          <input type="tel" name="other-amt" id="other-amt" placeholder="Amount" class="form-control" formControlName="amount" (focus)="onFocusForElement('amount')" (focusout)="onFocusOutForElement()" (keydown)="onKeyPress()"  (input)="filterBonus($event.target.value)">
                        </div>
                      </div>
                      <!-- Other amount field   ends above-->
                      <!-- Bonus offer radio btn  starts below-->
                      <div class="bonus-offer-amt-holder" [ngClass]="{'hide':(txnType == 'withdrawal' || (eligibleBonus && eligibleBonus.length <= 0))}" *ngIf="selectedMethodName">
                        <div class="loader-eligible-bonus" *ngIf="selectedMethodName && !eligibleBonus">
                          <app-jkr-loader></app-jkr-loader>
                        </div>
                        <div [ngClass]="{'hide':txnType == 'withdrawal'}" *ngIf="eligibleBonus && eligibleBonus.length <= 0" class="b-notfound">
                          No Bonus available for this payment method or amount
                        </div>
                        <div *ngIf="eligibleBonus && eligibleBonus.length > 0">
                          <div class="bonus-offer-amt" *ngFor="let bonus of eligibleBonus">
                            <div class="radio" [formGroup]="cashierAttributesForm">
                              <input value="{{bonus.bonusCode}}" type="radio" name="bnsCode" id="{{'bnsCode'+bonus.bonusID}}" formControlName="bnsCode" />
                              <label for="{{'bnsCode'+bonus.bonusID}}"><span class="label-text"><span class="bonus-name">{{bonus.bonusName}}</span></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="bonus-offer-amt ">
                          <div class="radio ">
                            <input value="bonusCode1" type="radio" name="bonusCode" id="bonusCode1" />
                            <label for="bonusCode1"><span class="label-text"><span class="bonus-name">Mission 2:</span>50% Bonus (10-15 May )</span>
                            </label>
                          </div>
                        </div>
                        <div class="bonus-offer-amt ">
                          <div class="radio ">
                            <input value="bonusCode2" type="radio" name="bonusCode" id="bonusCode2" />
                            <label for="bonusCode2"><span class="label-text"><span class="bonus-name">Mission 3:</span>50% Bonus (14-21 May)</span>
                            </label>
                          </div>
                        </div>
                        <div class="bonus-offer-amt ">
                          <div class="radio ">
                            <input value="bonusCode3" type="radio" name="bonusCode" id="bonusCode3" />
                            <label for="bonusCode3"><span class="label-text"><span class="bonus-name">Mission 4:</span>50% Bonus (20-31 May)</span>
                            </label>
                          </div>
                        </div> -->
                      </div>
                      <!-- Bonus offer radio btn  ends ends above-->
                      <!-- Casheir submit  btn  starts below-->
                      <div class="casheir-btn">
                        <button class="btn btn-lg btn-primary " (click)="makeTransaction('cashierButton')" [disabled]="getButtonDisabled()" id="cashierButton">
                          {{txnType == 'deposit' ? 'DEPOSIT' : 'WITHDRAW'}} <span>{{userCurrency}}{{cashierDetailsForm.controls['amount'].value ? cashierDetailsForm.controls['amount'].value : '0.00' }}</span>
                        </button>
                      </div>
                      <!-- Casheir submit  btn  ends ends above-->
                    </div>
                  </div>
                </div>
              </form>
              <div *ngIf="redirection" id="redirectionDiv" class="redirectionDiv">
              </div>
              <div *ngIf="txnStatus" id="transactionstatusDiv">
                <div class="txn-status">
                  <app-jkr-loader *ngIf="!txnStatusParams"></app-jkr-loader>
                  <div *ngIf="txnStatusParams">
                    <p class="txn-logo">
                      <img src="/assets/img/casheir/color/{{selectedMethodName.toLowerCase()}}.png" class=" ">
                      <br/><span class="txn-card-num"> {{txnStatusParams.receiptAccountToCharge ? txnStatusParams.receiptAccountToCharge : ''}}</span>
                    </p>
                    <p class="txn-status-msg">
                      <strong> {{txnStatusParams.txnSuccessOrFail == "SUCCESSFUL" ? 'Successful '+txnType : txnStatusParams.txnSuccessOrFail == "WAITING_APPROVAL" ? 'Pending Withdrawal' : '* Cancelled *' }}</strong>
                    </p>
                    <div class="txn-status-fail-msg" *ngIf="txnStatusParams.txnSuccessOrFail != 'SUCCESSFUL'">
                      <span class="icon pull-left"> <i class="icon-img" [ngClass]="{'info-blue-icon':txnStatusParams.txnSuccessOrFail == 'WAITING_APPROVAL','error-icon':txnStatusParams.txnSuccessOrFail == 'FAILED'}"></i>  </span>
                      <span class="text pull-left" *ngIf="txnStatusParams.txnSuccessOrFail != 'SUCCESSFUL'">{{txnStatusParams.txnSuccessOrFail == "SUCCESSFUL" ? '' : txnStatusParams.txnSuccessOrFail == "WAITING_APPROVAL" ? 'The withdrawal request was successfully made and will be reviewed as soon as possible by our payment team' :txnStatusParams.message}}</span>
                    </div>
                    <p>
                      <strong>Transaction No.</strong>
                      <br/> {{txnStatusParams.txnTxRefId? txnStatusParams.txnTxRefId : ''}}
                    </p>
                    <p>
                      <strong>{{txnType == 'deposit' ? 'Deposit' : 'Withdraw'}}</strong>
                      <br/> Date: {{ txnStatusParams.txnDate | date :'dd-MM-yyyy'}}
                      <br/> Time: {{ txnStatusParams.txnDate | date :'hh:mm'}}
                      <br/>Amount: {{txnStatusParams.receiptAmount ? txnStatusParams.receiptAmount : ''}}
                    </p>
                    <p>
                      <strong>Transaction Fee</strong>
                      <br/> {{txnStatusParams.receiptFee ? txnStatusParams.receiptFee : ''}}
                    </p>
                    <p>
                      <strong>Total</strong>
                      <br/> {{txnStatusParams.receiptTxAmount ? txnStatusParams.receiptTxAmount : '0.00'}}
                    </p>
                    <div class="text-center">
                      <button class="btn btn-md btn-primary txn-btn" (click)="closeModal('cashierModal')">OK</button>
                      <p class="text-center link-text" (click)="closeAndShowAllTransactions('cashierModal')"> Show All transactions </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="no-method-found" *ngIf="availableMethods && availableMethods.length <= 0 ">
              <h3 class="text-center">{{errorMessage ? errorMessage : 'No methods found'}}. Please try again</h3>
            </div>
            <app-jkr-loader *ngIf="availableMethods == undefined && !txnStatus"></app-jkr-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
