.games-section {
  padding: 20px 0 30px;
  float: left;
  width: 100%;
  clear: both;

  .m-game-padding {
    /*    padding-right: 0;*/
  }

  .no-games-found {
    float: right;
    width: calc(100% - 200px);
    height: 100%;
    display: flex;

    &__box {
      display: inline-block;
      text-align: center;
      width: 100%;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0px;
      }
      .loader-icon {
                  margin: auto;

        img {
          width: 100px;
          height: 100px;
        }
        /*    opacity: 0.3;
        i {
          color: #fff;
        }*/
      }
    }
    h3 {
      text-align: center;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 991px) {
  .games-section {
    /*    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);*/
    .no-games-found {
      width: 100%;
      &__box {
        &:before {
          display: none;
        }
      }
    }
  }
}
