@import "~variables.scss";
@import "~mixin.scss";




body {
  &.blur-bg {
    .page-body {
      filter: blur(3px);
      position: absolute;
      width: 100%;
      top: 0;
      height: 100%;
      bottom: 0;
      @media only screen and (max-width: 991px) {
        filter: blur(0px);
      }
    }
  }
}

.staticPageModal {
  padding: 0!important;
  color: #FFF;
  /* .promo-terms {
    .page-content {
      margin-top: 40px;
    }
  }*/
  .lead-title {
    margin-top: 0;
  }
  #FaqQApopup {
    padding: 0 20px;
  }

  .page-title {
    font-size: 24px;
    width: calc(100% - 40px);
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .sub-title {
    font-size: 16px;
    color: $primary-color;
  }
  hr {
    border-color: $primary-color;
  }



  table {
    margin-bottom: 20px;
    tr {
      td,
      th {
        padding: 5px;
        text-align: center;
        font-size: 14px;
        border: 1px solid $table-td-border-color;
      }
    }
    thead {
      tr {
        background: $table-head-bg-color;
        color: $table-head-text-color;
        th {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }

    tbody {

      tr {
        &:nth-child(odd) {
          background: $table-odd-row-bg-color;
        }
        &:nth-child(even) {
          background: $table-even-row-bg-color;
        }
        td {
          color: $table-body-text-color;
        }
      }
    }
  }


  .modal-content {
    box-shadow: none;
    border-radius: 0;
    background: $popup-bg-color;
    border: 0;
    padding: 0 0 20px 0;
    min-height: 300px;
    &.faq {
      min-height: 645px;
      max-height: 645px;
      overflow-y: auto;
      @include customscrollbars;
    }
  }
  .modal-header {
    padding: 20px 15px 0 15px;
    border: 0;
    position: sticky;
    top: 0;
    z-index: 5;
    background: $popup-bg-color;


    .close {
      margin: 0;
      padding: 0 15px;
    }
  }
  .modal-body {
    padding: 0 20px;
    min-height: 645px;
    max-height: 645px;
    overflow-y: auto;
    @include customscrollbars;
    &.faq-page {
      min-height: 1px;
      max-height: initial;

    }
  }

  .faq-page {
    .most-popular-faq {
      padding: 15px;
      .panel {
        padding-left: 5px;
        .panel-body {
          padding-left: 35px;
          
        }
      }
    }

    .most-popular-faq,
    .general-faq {
      border: 2px solid $primary-color;
           .panel-body {
            a:not([data-toggle]) {
             color:$secondary-color;
            text-decoration: underline;
          }
        }
    }
    .b-space {
      margin-bottom: 20px;
    }
    .accordion-title {
      i {
        font-size: 14px;
        margin-right: 7px;
      }
    }

    .accordion-title,
    .faq-group-title {
      font-size: 18px;
      font-weight: 700;
    }
    .faq-group-title {}

    .search-faq {
      .input-group {
        .input-group-btn {
          position: absolute;
          z-index: 3;
          .search-btn {
            background: transparent;
            font-size: 20px;
            font-weight: 700;
            padding: 14px;
            color: #FFF;
            border: 0;
            &:hover {
              color: $primary-color;
            }
          }
        }
        .form-control {
          position: relative;
          padding-left: 40px;
        }
      }
    }
    .panel-default>.panel-heading {
      background: transparent;
      border: 0;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border: 0;
    }
    .panel {
      background: transparent;
      margin-bottom: 0;
      border: 0;
      box-shadow: none;
      border-radius: 0;
    }
    .sub-panel-faq-body {
      padding-left: 35px!important;
      padding-bottom: 0;
      .panel-heading {
        padding-left: 0;
      }
      .panel-body {
        padding-left: 20px!important;
      }
    }
    .faq-category-group {
      /*      border-bottom: 1px solid rgba($primary-color, 0.5);*/
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: calc(100% - 30px);
        height: 1px;
        margin: auto;
        background: rgba($primary-color, 0.5);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .panel-body {
      color: $primary-color;
      padding: 0 15px 15px 15px;
      /*      &.faq-sub-panel{padding-left: 35px;}*/
    }

    .panel-title {
      color: #FFF;
      a {
        i {
          font-size: 14px;
          margin-right: 7px;
          transition: transform 250ms linear;
        }
        &[aria-expanded="true"] {
          i {
            transform: rotate(180deg);
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .panel-heading {
      padding: 8px 15px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .staticPageModal {
    background: rgba($popup-bg-color, 1);
    /*    background: $site-body-bg-image no-repeat center center;*/
    .modal-dialog {
      width: 100vw;
      height: 100vh;
      margin: 0;
    }
    .modal-content {
      background: transparent;
      padding: 0;
      &.faq {
        min-height: 1px;
        max-height: 100%;
      }
    }
    .modal-header {
      padding-top: 20px;
      .close {
        padding: 20px 15px;
      }
    }

    .modal-body {
      min-height: 1px;
      max-height: 100%;
      padding: 0 15px;
    }

    #FaqQApopup {
      padding: 0 15px 20px;
    }
    .popup-body {
      position: fixed;
      height: 100%;
      overflow-y: auto;
    }
  }
}
