@import "~cms-stylesheet.scss";
@import "~variables.scss";



$banking-table-header-bg-color:transparent;
$banking-table-header-text-color:#FFF;
$banking-table-header-border-color:$primary-color;
$banking-table-body-tr-even-row-bg-color:transparent;
$banking-table-body-tr-odd-row-bg-color:rgba(black, 0.5);

$vip-page-section-bg-color:transparent;
.loader-jr-static {
  position: fixed;
  z-index: 1;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $loader-bg-color-static-pages;
    z-index: -1;
  }
}


#staticPageContent {
  min-height: 100%;
  .tc-img{margin-bottom:50px;}

  .vip-room {
  margin-top: 157px;
  p {
    font-size: 16px;
    color: #FFF;
    margin: 20px 0;
  }
  .lead-text {
    font-size: 18px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  h4 {
    font-size: 30px;
    font-family: $font-secondary;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 1px;
  }

  .padding-space {
    padding: 60px 0;
    &.intro-bg {
      padding-bottom: 0;
    }
  }
  .intro-bg {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: $primary-color url('/assets/img/vip-room/gold-border.jpg');
      width: 100%;
      height: 10px;
      background-size: 100%;
    }
  }
  .vip-logo {
    object-fit: contain;
    height: 100%;
    width: 50%;
    padding-bottom: 60px;
  }

  .joka-man {
    object-fit: contain;
    height: calc(100% + 50px);
    top: -48px;
    position: absolute;
    left: 350px;
  }
  .vip-bg-pattern {
    background: url('/assets/img/vip-room/vip-bg-patterns.jpg');
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .cards-bg {
    background: #000 url('/assets/img/vip-room/vip-introl.jpg') no-repeat center bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    min-height: 700px;



    .text-block {
      position: relative;
      padding-top: 20px;
      padding-left: 5vw;

      p {
        font-family: $font-secondary;
        font-size: 24px;
        color: #FFF;
        margin: 28px 0;
        &:first-child {
          padding-left: 10%;
        }
        &:nth-child(2) {
          padding-left: 20%;
        }
        &:nth-child(3) {
          padding-left: 5%;
        }
        &:nth-child(4) {}
      }
    }
  }

  .welcome-bg {
    background-image: url(/assets/img/vip-room/cherry.png), url(/assets/img/vip-room/leaf.png);
    background-position: left -100px top 0px, right -100px top 0px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    background-origin: border-box;
    @media (max-width: 991px) {
      background-position: left -100px bottom 0px, right -100px top 0px;
    }
  }
  .benefits {
    background: #000;
    .benefits-holder {
      margin-bottom: 40px;
      float: left;
      width: 100%;
      .benefits-icon {
        float: left;
        width: 90px;
        margin-right: 10px;
        img {
          width: 90px;
          height: auto;
          position: relative;
          top: -15px;
          vertical-align: top;
        }
      }
      .benefits-text {
        width: calc(100% - 100px);
        float: left;
        h5,
        p {
          margin: 0;
        }
        h5 {
          margin-bottom: 20px;
          font-size: 24px;
          color: #fff;
          font-family: $font-secondary;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .tell-me-how {
    .tmh-list {
      @media (min-width: 992px) {
        width: 80%;
      }
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      margin: auto;
      .icon {
        text-align: center;
        img {
          width: 200px;
          height: auto;
        }
      }
      .text {
        p,
        h4 {
          margin: 0;
          text-align: center;
          color: #FFF;
        }
        h4 {
          margin: 20px auto;
        }
      }
    }
  }
  .teach-joka-way {
    .clipmask-title {
      background-size: 25%;
    }
    .sub-section {
      margin: 60px 0;
    }

    hr {
      border-color: $primary-color;
      width: 40%;
    }
    .bullet-points {
      margin-top: 40px;
      ul {
        padding-left: 20px;
        text-indent: -20px;

        color: #FFF;
        list-style: none;
        li {
          margin-bottom: 10px;
          font-size: 16px;

          &:before {
            content: "° ";
            color: $primary-color;
            line-height: 1;
            font-size: 24px;
            position: relative;
            top: 8px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

  .banking {
 
    table {
      width: 100%;
      tr {
        td,
        th {
          padding: 5px;
          text-align: center;
          font-size: 14px;
        }
      }
      thead {
        tr {
          background: $banking-table-header-bg-color;
          color: $banking-table-header-text-color;
          border: 2px solid $banking-table-header-border-color;
          th {
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }

      tbody {

        tr {
          &:nth-child(odd) {
            background: $banking-table-body-tr-odd-row-bg-color;
          }
          &:nth-child(even) {
            background: $banking-table-body-tr-even-row-bg-color;
          }
          td {
            color: $table-body-text-color;
            &.cc-img {
              text-align: left;
              padding: 10px;
              img {
                max-height: 30px;
              }
            }
          }
        }
      }
    }
  }


 



  .terms-and-conditions {
    h2 {
      color: #FFF;
    }

    p {
      font-weight: normal;
    }
    ol,
    li {
      margin: 0;
      padding: 0;
    }

    ol {
      counter-reset: item;
      li {
        list-style: none;
        list-style-position: inside;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #FFF;
        font-weight: normal;


        &:before {
          content: counters(item, ".") ".";
          counter-increment: item;
          padding-right: 5px;
          text-align: right;
        }
        p {
          margin: 10px 0;
        }
        >p {
          &:first-child {
            margin-top: 0;
          }
        }
        ol {
          margin-left: 20px;
          font-size: 14px;
        }
      }
    }

    .sub-title {
      font-size: 18px;
      font-weight: bold!important;
      margin-bottom: 20px!important;

      .sub-title {
        font-size: 16px;
      }
    }
    hr {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  .promo-terms {
    

    h2 {
      color: #FFF;
    }

    p {
      font-weight: normal;
    }
    ol,
    li {
      margin: 0;
      padding: 0;
    }

    ol {
      counter-reset: item;
      li {
        list-style: none;
        list-style-position: inside;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #FFF;
        font-weight: normal;


        &:before {
          content: counters(item, ".") ".";
          counter-increment: item;
          padding-right: 5px;
          text-align: right;
        }
        p {
          margin: 10px 0;
        }
        >p {
          &:first-child {
            margin-top: 0;
          }
        }
        ol {
          margin-left: 20px;
          font-size: 14px;
        }
      }
    }

    .sub-title {
      font-size: 18px;
      font-weight: bold!important;
      margin-bottom: 20px!important;

      .sub-title {
        font-size: 16px;
      }
    }
    hr {
      border-color: rgba(255, 255, 255, 0.2);
    }

    table {
      tr {
        td,
        th {
          padding: 5px;
          font-size: 14px;
        }
      }
      thead {
        tr {
          background-color: $table-head-bg-color;
          color: $table-head-text-color;
          th {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }

      tbody {
        tr {
          td {
            color: $table-body-text-color;
            font-weight: normal;
            border: 1px solid rgba(0, 0, 0, .1);
          }
        }
        tr:nth-child(even) {
          background: $table-odd-row-bg-color;
        }
        tr:nth-child(odd) {
          background: $table-even-row-bg-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #staticPageContent {

  .clipmask-title {
      h1 {
        font-size: 30px;
      }
    }

  

    .banking {
      /* padding: 0 0 20px 0;*/
      table {
        tbody{
          tr{
            td{
              color: #FFF;
            }
          }
        }
        thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        tr {
          /*  border-bottom: 2px solid $table-td-border-color;*/
          display: block;
           
        }
        td {
          /*    border-bottom: 1px solid $table-td-border-color;*/
          display: block;
          text-align: right!important;
          &:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
          }
          &:last-child {
            border-bottom: 0;
          }
          &.cc-img {
            text-align: left!important;
          }
        }
      }
    }

   .vip-room {
    margin-top: 82px;
    .padding-space {
      padding: 40px 0;
    }
    .joka-man {
      left: 150px;
    }
    .cards-bg {
      min-height: 1px;
      .text-block {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 30%;
        p {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
 
  }
}

 

@media (max-width: 767px) {
  #staticPageContent {
    .vip-room {
    .intro-bg {
      padding-top: 20px;
    }
    .joka-man,
    .vip-logo {
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      display: block;
      margin: auto;
      padding: 0;
    }
    .joka-man {
      transform: scale(2);
      padding: 25% 0;
    }
  }
  }
}
