<div id="staticPageHead{{callingFrom}}" class="{{pageUrl}} {{callingFrom}}" [ngClass]="{'push-side':callingFrom != 'sideMenu'}">
</div>
<div id="staticPageContent{{callingFrom}}" class="{{pageUrl}} {{callingFrom}}" [ngClass]="{'push-side':callingFrom != 'sideMenu'}">
</div>
<div id="FaqQA{{callingFrom}}" *ngIf="isPageAvailable && !loader && faqCategories && faqQA && pageUrl=='faq'" class="{{callingFrom}} faq-page">
  <div class="general-faq">
    <div class="faq-category-group" id="{{category.id}}-parent" *ngFor="let category of faqCategories">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title faq-group-title"><a data-toggle="collapse" [attr.data-parent]="'#'+category.id+'-parent'" href="#{{category.id}}"><i class="ionicons ion-chevron-down"></i>{{category.title}}</a></h4>
        </div>
        <div id="{{category.id}}" class="panel-collapse collapse">
          <div class="panel-body sub-panel-faq-body">
            <div class="" id="{{category.id}}-sub">
              <ng-container *ngFor="let qa of faqQA">
                <div class="panel panel-default" *ngIf="qa.category == category.id">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" [attr.data-parent]="'#'+category.id+'-sub'" href="#{{category.id}}-{{qa.id}}"><i class="ionicons ion-chevron-down"></i>{{qa.question}}</a></h4>
                  </div>
                  <div id="{{category.id}}-{{qa.id}}" class="panel-collapse collapse">
                    <div class="panel-body " [innerHTML]="qa.answer"></div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-page-not-found *ngIf="!isPageAvailable && !loader && callingFrom != 'sideMenu'"></app-page-not-found>
<div class="loader-jr loader-jr-static promo-loader" *ngIf="loader && callingFrom != 'sideMenu'">
  <app-jkr-loader></app-jkr-loader>
</div>

<!-- Start of LiveChat (www.livechatinc.com) code --
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 9896220;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
