<div *ngIf="zoneId == '1'">
<div class="push-side cm-banner" *ngIf="banners && banners.length > 0">
  <!-- Carousel
  ================================================== -->
  <div id="cmSlider" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div *ngFor="let banner of banners; let k = index" class="item" [ngClass]="{'active':k == 0}">
        <div id="{{banner.id}}"></div>
        <!-- <div class="img-holder" id="imageHolder-{{banner.id}}">
          <img alt="" class="img-responsive small-screen-banner" id="imageHolder-small-{{banner.id}}"/>
          <img alt="" class="img-responsive large-screen-banner" id="imageHolder-large-{{banner.id}}" />
        </div>
        <div class="container">
          <div class="cm-slider">
            <div class="cm-slider__text-holder">
              <div class="cm-slider__text" id="contentHolder-{{banner.id}}">
              </div>
            </div>

            <div class="cm-slider__btn">
              <span routerlink="register" id="buttonHolder-{{banner.id}}">
              </span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="container">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#cmSlider" *ngFor="let bannerIndicator of banners;let i = index" [attr.data-slide-to]="i" [ngClass]="{'active':i == 0}"></li>
        </ol>
      </div>
      <!-- /.carousel -->
    </div>
</div>
<div class="push-side  cm-banner" *ngIf="!banners || (banners && banners.length <= 0 )">
  <!-- Carousel
  ================================================== -->
  <div id="cmSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="img-holder">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="zoneId == '8'" id="cmSlider">
  <div *ngFor="let banner of banners; let k = index" >
    <div id="{{banner.id}}"></div>
  </div>
</div>
