@import "~variables.scss";
  @import "~mixin.scss";

 


 .cm-banner {

   width: 100%;
   margin-top: 157px;
   .carousel {

     .carousel-indicators {
       margin: 0;
       left: 0;
       text-align: left;
       position: relative;
       bottom: 30px;
       height: 0;
       li {
         background: $banner-slider-indicator-bg-color;
         height: 14px;
         width: 14px;
         border: 0;
         box-sizing: border-box;
         box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
         border: 3px solid transparent;
         margin-left: 2px;
         vertical-align: middle;

         &:first-child {
           margin-left: 0;
         }
         &.active {
           height: 14px;
           width: 14px;
           background: $banner-slider-active-indicator-bg-color;
           border: 3px solid $banner-slider-indicator-bg-color;
           box-sizing: border-box;
         }
       }
     }


     .carousel-inner {
       .item {
         height: 386px;
         .img-holder {
           position: absolute;
           z-index: 0;
           width: 100%;
           height: 100%;
           left: 0;
           top: 0;
           background: $site-body-bg-color;
           img {
               height: 100%;
             object-fit: cover;
             margin: auto;
          /*   width: 100%;
             height: 100%;
             object-fit: cover;
             position: relative;
             top: 50%;
             transform: translateY(-50%);*/
           }
         }
         .cm-slider {
           display: flex;
           flex-direction: column;
           text-align: left;
           text-shadow: none;
           padding: 0;
           text-transform: uppercase;
           position: relative;
           color: #FFF;
           height: 100%;
           min-height: 350px;

           h1,
           h3,
           p{
             margin: 0;
                 text-shadow: 2px 2px 10px #000;

           }
           &__text-holder {
             display: table;
             height: 300px;
           }
           &__text {
             display: table-cell;
             vertical-align: middle;
           }
           &--title {
             font-size: 38px;
             line-height: 38px;
             font-weight: 900;
             text-transform: uppercase;
             letter-spacing: -1px;
             padding-bottom: 20px;
           }
           &--sub-title {
             font-size: 22px;
             font-weight: 700;
             line-height: 24px;
           }
           &--link {
             margin-top: 10px;
             font-size: 14px;
             font-weight: bold;
             color: #FFF;
             float: left;
                text-shadow: 2px 2px 10px #000;
           }
           &__btn {
             margin-top: 50px;
             position: absolute;
              @media only screen and (min-width: 992px) {
             margin-left: 122px;

              }

             bottom: 0px;
            /* width: 100%;*/
             text-align: center;

             &--cta {
              @extend .btn-banner;
               border-radius: 0;
                font-size: 28px;
               line-height: 1;
               padding: 15px;
               /*letter-spacing: 0.8px;*/
               font-weight: 700;
               min-width: 200px;
               overflow: hidden;
               text-overflow: ellipsis;
               max-width: 100%;
               
             }
           }
         }
       }
     }
   }
 }

 @media only screen and (max-width: 991px) {
   .cm-banner {
     /*margin-top: 115px;*/
     margin-top:82px;
     .carousel {
       .carousel-inner {
         .item {
          /* height: 150px;*/;
          height: 200px;
           .cm-slider {
             /*min-height: 150px;*/
             min-height:200px;
             &__text-holder {
               height: 100%;
               min-height: 150px;
             }
             &__text {
               padding: 10px 0;
             }
             &--title {
               font-size: calc(10px + 1vw);
               padding: 0;
               line-height: 1.5;
             }
             &--sub-title {
               font-size: calc(7px + 1vw);
               line-height: 20px;
             }
             &--link {
               font-size: calc(7px + 1vw);
               margin: 0;
             }
             &__btn {
               bottom: 20px;
               margin-top: 0;
               text-align: center;
               width: 100%;


               &--cta {
                 min-width: 100px;
                 padding: 6px 10px;

                 font-weight: 600;
                 font-size: 14px;
                 /*      font-size: calc(7px + 1vw);*/
                 letter-spacing: 0.8px;
               }
             }
           }
         }
       }
     }
   }
 }
