/*-------------------------*/


/*      buttons            */


/*-------------------------*/

@import "~variables.scss";




@mixin button-bg($bg) {
  background: $bg;
  border-radius: 0;
  border: 2px solid transparent;
  &:hover,
  &:focus {
    transition: all 0.3s ease;
    border: 2px solid transparent;
  }
  &:active {
    border: 2px solid transparent;
    box-shadow: none;
    background: $bg;

    &:hover,
    &:focus {
      transition: all 0.3s ease;
      border: 2px solid transparent;
    }
  }
}




/*
 @mixin disabledBtn-bg($bg) {
   background: $bg;
   border: 2px solid transparent;
   &:hover,
   &:focus {
     background: $bg;
     transition: all 0.3s ease;
     border: 2px solid transparent;
   }
   &:active {
     background: $bg;
     border: 2px solid transparent;

     &:hover,
     &:focus {
       background: $bg;
       transition: all 0.3s ease;
       border: 2px solid transparent;
     }
   }
 }*/

@mixin disabledBtn-bg($bg) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  @include button-bg($primary-btn-bg-color);
  color: $primary-btn-text-color;
  font-weight: 700;
  &:hover {
    color: $primary-btn-hover-text-color;
  }
  &:disabled,
  &.disabled {
    @include disabledBtn-bg($disabled-btn-bg-color);
  }
}





.btn-secondary {
  @include button-bg($secondary-btn-bg-color);
  color: $secondary-btn-text-color;
  font-weight: 700;
  &:hover {
    color: $secondary-btn-hover-text-color;
  }
  &:disabled,
  &.disabled {
    @include disabledBtn-bg($disabled-btn-bg-color);
  }
}





.btn-ghost {
  background: $ghost-btn-bg-color;
  color: $ghost-btn-text-color;
  border: $ghost-btn-border-width $ghost-btn-border-style $ghost-btn-border-color;
  border-radius: 0;
  text-transform: uppercase;
  &:hover {
    background: $ghost-btn-hover-bg-color;
    color: $ghost-btn-hover-text-color;
  }
  &.deposit-b{
      background: $primary-header-deposit-btn-bg-color;
  }
}


.btn-banner {
  background: $banner-btn-bg-color;
  color: $banner-btn-text-color;
  font-weight: 700;
  border-radius: $banner-btn-border-radius;
  border: $banner-btn-border-width $banner-btn-border-style $banner-btn-border-color;
  transition: all 0.3s ease;
  &:hover {
    color: $banner-btn-hover-text-color;
    background: $banner-btn-hover-bg-color;
  }
  &:disabled,
  &.disabled {
    @include disabledBtn-bg($disabled-btn-bg-color);
  }
}


.btn-promo-banner {
  background: $promotions-btn-bg-color;
  color: $promotions-btn-text-color;
  font-weight: 700;
  border-radius: $promo-banner-btn-border-radius;
  border: $promo-banner-btn-border-width $promo-banner-btn-border-style $promo-banner-btn-border-color;
  transition: all 0.3s ease;
  &:hover {
    color: $promotions-btn-hover-text-color;
    background:  $promotions-btn-hover-bg-color;
  }
  &:disabled,
  &.disabled {
    @include disabledBtn-bg($disabled-btn-bg-color);
  }
}



.btn-lg,
.btn-md,
.btn-sm,
.btn-xs {
  box-shadow: none;
  border-radius: 0;
  word-break: break-word;
  white-space: normal;
}

.btn-lg {
  font-size: 28px;
  padding: 15px;
}

.btn-md {
  font-size: 16px;
  padding: 11px 16px;
  &.btn-one {
    font-size: 24px;
  }
}

.btn-sm {}

.btn-xs {}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  cursor:not-allowed;
    pointer-events: none;

}
