@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import "~variables.scss";
 @import "~mixin.scss";


.clipmask-title {
  h1 {
     @include texture-title;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: $font-secondary;
    margin: 0;
  }
}


.cms-pages {
  margin-top: 157px;
  background: $cms-page-bg-color;
  padding: 20px 0;
   
  &.responsible-gaming {
    .mtmb {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-primary;
    margin: 0;
    color: $cms-page-title-text-color;
  }



  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .clipmask-title {
    h1 {
          @include texture-title;
      font-size: 48px;
      letter-spacing: 3px;
      font-weight: bold;
      font-family: $font-secondary;
      margin: 0;
      text-transform: capitalize;
    }
  }




  h3 {
    font-size: 24px;
    font-weight: 700;

    color: $cms-page-title-text-color;
  }
  h4 {
    font-size: 20px;
    color: $cms-page-title-text-color;
  }
  p {
    color: $cms-body-text-color;
    font-size: 14px;
    margin: 20px 0;
    &.intro-text {
      font-size: 18px;
    }
  }
  ul {
    color: $cms-body-text-color;
    padding: 0 0 0 20px;
    margin: 20px 0;
  }
  h4,
  h3 {
    +p {
      margin-top: 5px;
    }
  }
  .gray-text {
    color: #9e9e9e;
  }
  a {
    color: $cms-page-anchor-link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: darken( $cms-page-anchor-link-color, 10%);
    }
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .no-padding {
    padding: 0;
  }

  .grey-box {
    border: 1px solid $primary-color;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    color: #FFF;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .contact-nav {
    margin: 0 0 20px;
    padding: 0;
    li {
      display: inline-block;
      a {
        padding: 0;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }

      .mail-btn,
      .call-btn,
      .chat-btn {
        height: 80px;
        width: 80px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .mail-btn {
        background-image: url('/assets/img/contact/mail.png');
        &:hover {
          background-image: url('/assets/img/contact/mail-hover.png');
        }
      }
      .call-btn {
        background-image: url('/assets/img/contact/call.png');
        &:hover {
          background-image: url('/assets/img/contact/call-hover.png');
        }
      }
      .chat-btn {
        background-image: url('/assets/img/contact/chat.png');
        &:hover {
          background-image: url('/assets/img/contact/chat-hover.png');
        }
      }

      &.active {
        .mail-btn {
          background-image: url('/assets/img/contact/mail-active.png');
        }
        .call-btn {
          background-image: url('/assets/img/contact/call-active.png');
        }
        .chat-btn {
          background-image: url('/assets/img/contact/chat-active.png');
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .cms-pages {
    margin-top: 82px;
    padding-top: 20px;
    padding-bottom: 20px;


  }
}

@media only screen and (max-width: 767px) {
  .cms-pages {
    &.responsible-gaming {
      .mtmb {
        text-align: center;
        img{max-width: 200px; margin: 0 auto 20px;}
      }
    }
  }
}
