@import "icon-font.scss";
@import "ionicons.scss";
@import "fonts.scss";
@import "variables.scss";
@import "custom-animation.scss";
@import "form-input.scss";

html {
  background: $site-body-bg-image no-repeat center center fixed;
  background-size: cover;
}

[routerlink] {
  cursor: pointer;
}

.icon-close {
  font-size: 35px;
  &:before {
    content: "\f404"!important;
    font-family: "Ionicons"!important;
  }
}

body {
  font: 14px/22px $font-primary, verdana, Helvetica, sans-serif;
  overflow-x: hidden;
  background: transparent;
  /*height: 100%;*/
  @media only screen and (max-width: 991px) {
    .page-body {
      overflow-x: hidden;
    }
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased;
}

html,
body,
.page-body {
  /*  height: 100%;
*/
  /* The html and body elements cannot have any padding or margin. */
}





/*two banner images will toggle betweeen screen in mobile and desktop*/

.small-screen-banner {
  display: block;
}

.large-screen-banner {
  display: none;
}

@media only screen and (min-width: 992px) {
  .small-screen-banner {
    display: none;
  }
  .large-screen-banner {
    display: block;
  }
}



/* Wrapper for page content to push down footer */

$footerHeight:0px;
.page-wrapper {
  // min-height: 100vh;
  height: auto !important;
  /*  height: 100%;
*/
  /* Negative indent footer by it's height */
  margin-bottom: - $footerHeight;
  /*$footerHeight*/
}


/* Set the fixed height of the footer here */

.page-footer {
  background: $footer-bg-color;
}

.space-pusher,
.page-footer {
  height: $footerHeight;
  /*footer height*/
}

.jr-logo-s {
  text-align: center;
  margin-bottom: 20px;
  img {
    height: 60px;
  }
}




.mask {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

* {
  user-select: none;
}

a {
  &:focus,
  &:hover {
    outline: 0;
    outline-offset: 0;
  }
}


.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 6px;
  }
}



a {
  color: $anchor-link-color;
}



/*@media (min-width: 992px) {
  .container {width: 980px;}
}*/

input,
textarea {
  user-select: text;
  transition: .3s ease-in-out;
  outline: none;
  border: 1px solid transparent;
  display: inline-block;
}



h1,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

button {
  outline: 0;
}

img {
  border: 0;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline-offset: 0;
  outline: 0;
}

.push {
  position: relative;
}


.ribbon {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  span {
    font-family: $font-primary;
    font-size: 13px;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;

    /*  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);*/
    position: absolute;
    top: 5px;
    left: -30px;

    &.hot {
      background: $game-ribbon-hot;
      color: $game-ribbon-hot-text-color;
    }
    &.new {
      background: $game-ribbon-new;
      color: $game-ribbon-new-text-color;
    }
    &.featured {
      background: $game-ribbon-featured;
      color: $game-ribbon-featured-text-color;
    }
    &.live {
      background: $game-ribbon-live;
      color: $game-ribbon-live-text-color;
    }
    &.offline {
      background: $game-ribbon-offline;
      color: $game-ribbon-offline-text-color;
    }
  }
}

.small-screen {
  .modal {
    margin-top: 82px;
    transition: left 450ms ease;
    &.loginModal,
    &.signUpModal {
      margin-top: 0px;
    }
    &.signUpModal {
      .modal-dialog {
        margin: 0;
        width: 100vw;
      }
      .modal-content {
        .modal-body {
          /*   padding: 40px;*/
        }
      }
    }
  }

  .small-screen-push-left {
    .modal,
    .modal-backdrop {
      left: 300px;
      transition: left 450ms ease;
    }
  }
}

.modal-backdrop {
  &.in {
    opacity: 0;
  }
}



/*making modal box verticle center to screen above 991*/

.modal {
  @media(min-width: 992px) {
    text-align: center;

    &:before {
      content: '';
      height: 100%;
      width: 1px;
      display: inline-block;
      vertical-align: middle;
    }

    .modal-dialog {
      text-align: left;
      margin: 10px auto;
      display: inline-block;
      vertical-align: middle;
    }
  }
  @media(max-width: 992px) {
    overflow-y: auto;
  }
}




/*side menu push*/

.push-side {
  transition: margin 250ms ease;
  backface-visibility: hidden;
  &.side-menu-opened {
    margin-left: 250px;
    margin-right: -250px;
  }
}


body {
  &.backdrop-mask {
    transition: all 250ms ease;
    overflow: hidden;
    .black-mask {
      display: block;
      background: rgba(black, 0);
      position: fixed;
      z-index: 9999;
      top: 0;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
  /*hide right space in popup opens*/
  &.modal-open {
    padding-right: 0px !important;
  }
}

.black-mask {
  display: none;
}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .loginModal,
  .signUpModal,
  .mobile-login-modal {
    .modal-dialog {
      @include landscape-screen-height;
      .modal-content {
        @include landscape-screen-height;
        .modal-body {
          @include landscape-screen-height;
        }
      }
    }
  }
}



@media only screen and (max-width: 991px) {
  .loginModal,
  .signUpModal,
  .mobile-login-modal {
    .modal-header {
      @include position-sticky;
    }
  }
}
