// Variables
$background: #216e53;
$border-color:  #417865;
$border-size: 1px;



@mixin css-arrow($height: 10px, $border: 2px, $color: #efefef, $border-color: #999, $direction: bottom, $outside: true) {
  $border-shift: $border;
  
  @if $border > 0px {
    $border: round($border * 1.41421356);
  }
  
  position: relative;
  
  &:after,
  &:before {
    border: solid transparent;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    pointer-events: none;
    width: 0;
    
    @if $direction == top {
      @if $outside {
        bottom: 100%;
      }
      @else {
        margin-top: -$border-shift;
        top: 0;
      }
    }
    @if $direction == right {
      @if $outside {
        left: 100%;
      }
      @else {
        margin-right: -$border-shift;
        right: 0;
      }
    }
    @if $direction == bottom {
      @if $outside {
        top: 100%;
      }
      @else {
        bottom: 0; 
        margin-bottom: -$border-shift;  
      }
    }
    @if $direction == left {
      @if $outside {
        right: 100%;
      }
      @else {
        left: 0;
        margin-left: -$border-shift;
      }
    }
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    @if $direction == top {
      @if $outside {
        border-bottom-color: $color;
      }
      @else {
        border-top-color: $color;
      }
    }
    @if $direction == right {
      @if $outside {
        border-left-color: $color;
      }
      @else {
        border-right-color: $color;
      }
    }
    @if $direction == bottom {
      @if $outside {
        border-top-color: $color;
      }
      @else {
        border-bottom-color: $color;
      }
    }
    @if $direction == left {
      @if $outside {
        border-right-color: $color;
      }
      @else {
        border-left-color: $color;
      }
    }
    
    @if $direction == top or $direction == bottom {
      left: 50%;
      margin-left: -$height;
    }
    
    @if $direction == left or $direction == right {
      top: 50%;
      margin-top: -$height;
    }
    
    border-width: $height;
  }

  &:before {
    border-color: rgba(255, 255, 255, 0);
    @if $direction == top {
      @if $outside {
        border-bottom-color: $border-color;
      }
      @else {
        border-top-color: $border-color;
      }
    }
    @if $direction == right {
      @if $outside {
        border-left-color: $border-color;
      }
      @else {
        border-right-color: $border-color;
      }
    }
    @if $direction == bottom {
      @if $outside {
        border-top-color: $border-color;
      }
      @else {
        border-bottom-color: $border-color;
      }
    }
    @if $direction == left {
      @if $outside {
        border-right-color: $border-color;
      }
      @else {
        border-left-color: $border-color;
      }
    }
    
    @if $direction == top or $direction == bottom {
      left: 50%;
      margin-left: -($height + $border);
    }
    
    @if $direction == left or $direction == right {
      top: 50%;
      margin-top: -($height + $border);
    }
    
    border-width: $height + $border;
  }
}



 
.arrow {
  border: $border-size solid $border-color;
  border-radius: 4px;
  background: $background;
  color: #2d7187;
  margin: 0 auto 40px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.tt-a-top {
  @include css-arrow(10px, $border-size, $background, $border-color, top);
}

.tt-a-right{
  @include css-arrow(10px, $border-size, $background, $border-color, right);
}

.tt-a-bottom{
  @include css-arrow(10px, $border-size, $background, $border-color, bottom);
}

.tt-a-left{
  @include css-arrow(10px, $border-size, $background, $border-color, left);
}

.tt-a-bottom-noborder {
  @include css-arrow(10px, 0, $background);
  border: none;
}

.tt-a-top-inside {
  @include css-arrow(10px, $border-size, #f8f8f8, $border-color, top, false);
}

.tt-a-right-inside {
  @include css-arrow(10px, $border-size, #f8f8f8, $border-color, right, false);
}

.tt-a-bottom-inside{
  @include css-arrow(10px, $border-size, #f8f8f8, $border-color, bottom, false);
}

.tt-a-left-inside {
  @include css-arrow(10px, $border-size, #f8f8f8, $border-color, left, false);
}

.tt-a-bottom-inside {
  @include css-arrow(10px, 0, #f8f8f8, none, bottom, false);
  border: none;
}