<div class="sub-nav-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#accountStatement" data-toggle="tab" (click)="getTransaction('cashier')">Account Statement</a></li>
    <li><a href="#gameTransactions" data-toggle="tab" (click)="getTransaction('casino')">Game Transactions</a></li>
  </ul>
  <hr/>
  <div class="tab-content">
    <div class="tab-pane active" id="accountStatement">
      <app-account-statement *ngIf="transactionDetails" [transactionDetails]="transactionDetails" [profileDetails]="profileDetails" [currencyDetails]="currencyDetails" [transactionRequestData]="request" (getTransactionDetails)="getTransactionDetails($event)"></app-account-statement>
      <app-jkr-loader *ngIf="!transactionDetails"></app-jkr-loader>
    </div>
    <div class="tab-pane" id="gameTransactions">
      <app-game-transactions *ngIf="transactionDetails" [transactionDetails]="transactionDetails" [profileDetails]="profileDetails" [currencyDetails]="currencyDetails" [transactionRequestData]="request" (getTransactionDetails)="getTransactionDetails($event)"></app-game-transactions>
      <app-jkr-loader *ngIf="!transactionDetails"></app-jkr-loader>
    </div>
  </div>
</div>
