<div id="settingsModal" class="modal fade settingsModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal('settingsModal')">   <i class="icon-close"></i></button>
        <ul class="nav nav-tabs hidden-xs hidden-sm">
          <li [ngClass]="menuItemClicked =='myDetails' ? 'active':''"><a href="#myProfile" data-toggle="tab" (click)="changeMenuItemClicked('myDetails')">My Profile</a></li>
          <li [ngClass]="menuItemClicked =='balanceDetails' ? 'active':''"><a href="#balance" data-toggle="tab" (click)="changeMenuItemClicked('balanceDetails')">Balance</a></li>
          <li [ngClass]="menuItemClicked =='transactionDetails' ? 'active':''"><a href="#transactions" data-toggle="tab" (click)="changeMenuItemClicked('transactionDetails')">Transactions</a></li>
          <li [ngClass]="menuItemClicked =='bonusDetails' ? 'active':''"><a href="#bonuses" data-toggle="tab" (click)="changeMenuItemClicked('bonusDetails')">Bonuses</a></li>
          <li [ngClass]="menuItemClicked =='kycDetails' ? 'active':''" (click)="changeMenuItemClicked('kycDetails')"><a href="#kyc" data-toggle="tab">KYC</a></li>
            <button type="button" class="close close-desktop" (click)="closeModal('settingsModal')">   <i class="icon-close"></i></button>
        </ul>
<div class="hidden-lg hidden-md visible-xs visible-sm m-title">
  <h1 *ngIf="menuItemClicked =='myDetails'">MY DETAILS</h1>
  <h1 *ngIf="menuItemClicked =='balanceDetails'">BALANCE DETAILS</h1>
  <h1 *ngIf="menuItemClicked =='transactionDetails'">TRANSACTIONS</h1>
  <h1 *ngIf="menuItemClicked =='bonusDetails'">BONUSES</h1>
  <h1 *ngIf="menuItemClicked =='kycDetails'">KYC</h1>
</div>



      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane" id="myProfile" [ngClass]="menuItemClicked =='myDetails' ? 'active':''">
            <app-my-profile *ngIf="menuItemClicked =='myDetails'" [profileDetails]="profileDetails"></app-my-profile>
          </div>
          <div class="tab-pane" id="balance" [ngClass]="menuItemClicked =='balanceDetails' ? 'active':''">
            <app-balance *ngIf="menuItemClicked =='balanceDetails' && balanceDetails && profileDetails" [balanceDetails]="balanceDetails" [profileDetails]="profileDetails" (openCashier)="openCashier($event)"></app-balance>
            <app-jkr-loader *ngIf="menuItemClicked =='balanceDetails' && (!balanceDetails || !profileDetails)"></app-jkr-loader>
          </div>
          <div class="tab-pane" id="transactions" [ngClass]="menuItemClicked =='transactionDetails' ? 'active':''">
            <app-transactions *ngIf="menuItemClicked =='transactionDetails'" [profileDetails]="profileDetails" [currencyDetails]="currencyDetails"></app-transactions>
          </div>
          <div class="tab-pane" id="bonuses" [ngClass]="menuItemClicked =='bonusDetails' ? 'active':''">
            <app-bonus *ngIf="menuItemClicked =='bonusDetails'" [profileDetails]="profileDetails" [currencyDetails]="currencyDetails"></app-bonus>
          </div>
          <div class="tab-pane" id="kyc" [ngClass]="menuItemClicked =='kycDetails' ? 'active':''">
            <app-kyc *ngIf="menuItemClicked =='kycDetails'" [kycDetails]="kycDetails" (proofSubmitted)="getAccountVerificationStatus()"></app-kyc>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
