@import "~variables.scss";
@import "~mixin.scss";
.settingsModal {
  * {}
  .bonus-table {
    max-height: 550px;
    min-height: 52px;
    overflow-y: auto;
    width: 100%;
    @include customscrollbars;
    @media only screen and (max-width: 991px) {
      max-height: 100%;
     }
  }
  .modal-content {
    box-shadow: none;
    border-radius: 0;
    background: $popup-bg-color;
    border: 0;
  }
  .modal-header {
    background: $my-account-header-bg-color;
    /* border-radius: 3px 3px 0 0;*/
    padding: 0;
    border: 0;
    .close {
      margin: 0;
      padding: 3px 10px;
      display: none;
      &.close-desktop {
        display: block;
      }
    }
    .nav-tabs {
      border: 0;
      li {
        margin-bottom: 0;
        /* width: calc(100% / 5);*/
        width: calc((100% - 40px) / 5);
        a {
          font-size: 15px;
          color: $my-account-tab-link-text-color;
          text-align: center;
          text-transform: uppercase;
          border: 0;
          border-radius: 0;
          padding: 12px;
          min-width: 150px;
          margin-right: 0;
          &:hover,
          &:focus {
            background: transparent;
            /* color: $my-account-active-tab-text-color;*/
            border: 2px solid $my-account-subtab-active-link-text-color;
            padding-bottom: 10px;
            padding-top: 10px;
          }
        }
        &.active {
          a {
            background: $my-account-active-tab-bg-color;
            color: $my-account-active-tab-text-color;
            border-color: transparent;
          }
        }
      }
    }
  }
  .modal-body {
    padding: 20px;
    border-radius: 0 0 3px 3px;
    min-height: 645px;

    .sub-nav-tabs {
      .nav-tabs {
        border-bottom: 0;
        li {
          margin-bottom: 0;
          a {
            font-size: 15px;
            line-height: 1;
            color: $my-account-subtab-link-text-color;
            text-align: left;
            text-transform: uppercase;
            border: 0;
            border-radius: 0;
            padding: 0;
            margin-right: 30px;
            background-color: transparent;
            font-weight: 400;

            &:hover,
            &:focus {
              color: $my-account-subtab-link-hover-text-color;
              background: transparent;
            }
          }
          &.active {
            a {
              color: $my-account-subtab-active-link-text-color;
              font-weight: 700;
              background: transparent;
            }
          }
        }
      }
      hr {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        border-color: $primary-color;
        float: left;
        width: 100%;
      }
      .tab-content {
        p {
          line-height: 1;
          color: #999;
        }
        .active {
          margin-top: 10px;
        }
        .form-group {
          float: left;
          width: 100%;
          position: relative;

          label {
            color: $my-account-form-lable-text-color;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 12px;
          }
          .radio {
            label {
              line-height: 2.3;
              font-weight: bold;
              color: $my-account-form-lable-text-color;
            }
          }
          .tt {
            &.m-l {
              position: absolute;
              right: 0;
              top: calc(50% - 11px);
              max-width: calc(100% - 50px);
              font-size: 12px;
            }
          }
        }
        .btn-submit {
          margin-top: 20px;
          width: 100%;
        }
        .msg-success {

          margin-top: 20px;
        }
        .msg-error {

          margin-top: 20px;
        }

        .responsive-table,.bonus-table {
          .sort {
            width: 100%;
            box-sizing: border-box;
            /*margin-bottom: 6px;*/
            float: left;
            .date-group {
              display: inline-flex;
              float: left;
              position: relative;
              width: auto;
              align-items: center;

              label {
                color: $my-account-form-lable-text-color;
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 1;
              }

              .form-control {
                padding: 0px 20px 0 5px;
                width: 120px;
                margin: 0 5px;
                font-size: 12px;
                border-color: $input-placeholder-color;
                cursor: pointer;
              }
              i {
                position: absolute;
                right: 5px;
                top: 0;
                width: 18px;
                height: 100%;
                line-height: normal;
                font-size: 18px;
                background-color: transparent;
                border-radius: 0 3px 3px 0;
                padding-right: 5px;
                color: rgba($primary-color, 0.6);
                cursor: pointer;
              }
            }
            .spacer {
              margin: -2px 30px;
              width: 1px;
              border-left: 1px solid $my-account-section-separtor-left-color;
              border-right: 1px solid $my-account-section-separtor-right-color;
              display: inline-block;
              vertical-align: middle;
              height: 28px;
              float: left;
            }
          }

          table {
            width: 100%;
            color: $table-body-text-color;
            tr {
              td,
              th {
                padding: 5px;
                font-size: 14px;
              }
            }
            thead {
              tr {
                background: $table-head-bg-color;
                color: $table-head-text-color;
                th {
                  text-transform: uppercase;
                  font-weight: normal;
                }
              }
            }

            tbody {
              tr:nth-child(even) {
                background: $table-odd-row-bg-color;
              }
              tr:nth-child(odd) {
                background: $table-even-row-bg-color;
              }
            }
            tfoot {
              tr {
                border: 0;
                td {
                  border: 0;
                  &:first-child {
                    text-align: left;
                  }
                }
              }
              background-color: $table-footer-bg-color;
              /*   border-top: 1px solid $table-footer-border-top-color;*/
              color: $table-footer-text-color;
              span {
                font-style: italic;
              }

              .btn-ghost {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .settingsModal {
    background: rgba($popup-bg-color, 1);
    .btn-order-place {
      display: flex;
      flex-direction: column-reverse;
    }


    .m-title {
      margin: 0;
      padding: 15px 0px;
      border-bottom: 1px solid $my-account-mobile-section-title-border-bottom-color;

      h1 {
        color: $my-account-mobile-section-title-text-color;
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        margin: 0;
        padding: 0 15px;
        line-height: 1;
      }
    }
    .modal-header,
    .modal-body,
    .modal-dialog {
      /*background-color: $my-account-mobile-bg-color;*/
    }
    .modal-body {
      padding: 15px;
    }
    .modal-content {
      background: transparent;
    }
    .modal-header {
      .close {
        padding: 15px 10px;
        display: block;
        &.close-desktop {
          display: none;
        }
      }
      position: sticky;
      top: 0;
      z-index: 9999;
      background: rgba($popup-bg-color, 1);
    }
    .modal-dialog {
      width: 100vw;
      height: 100vh;
      margin: 0;
    }
    .modal-body {
      padding-top: 8px;
      min-height: 1px;

      .sub-nav-tabs {
        hr {
          border-top: 0;
          border-bottom: 1px solid $my-account-mobile-sub-nav-separator;
        }
        &.fund-small,
        &.kyc-small {
          hr,
          .nav-tabs {
            display: none;
          }
        }
        .nav-tabs {

          li {
            width: 100%;
            a {
              color: $my-account-mobile-form-lable-text-color;
              margin: 0;
              padding: 8px 0;
            }
          }
        }
        .tab-content {
          p {
            color: $my-account-mobile-form-lable-text-color;
          }
          .form-group {
            label {
              color: $my-account-mobile-form-lable-text-color;
            }
          }
          .responsive-table {
            .sort {

              .date-group {
                label {
                  color: $my-account-mobile-form-lable-text-color;
                }
              }
            }


            table {
              thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
              }

              tr {
               /* border-bottom: 2px solid $my-account-mobile-table-border-color;*/
               border-bottom: 2px solid $primary-color;
                display: block;
              }
              td {
                border-bottom: 1px solid rgba($my-account-mobile-table-border-color, 0.05);
                display: block;
                /*font-size: .8em;*/
                text-align: right;
                &:before {
                  content: attr(data-label);
                  float: left;
                  /*font-weight: bold;*/
                  text-transform: uppercase;
                }
                &:last-child {
                  border-bottom: 0;
                }
              }
            }
          }
          .btn-submit {
            margin-top: 0;
          }
          .msg-success {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .settingsModal {
    .modal-body {
      .sub-nav-tabs {
        .tab-content {
          .responsive-table {
            .sort {
              .spacer {
                display: none;
              }
              .date-group {
                .form-control {
                  width: calc(100% - 10px);
                }
                &:first-child,
                &:nth-child(2) {
                  width: 50%;
                }
                &:nth-child(2) {
                  justify-content: right;
                }
                &.search-box {
                  width: 100%;
                  margin-top: 10px;
                }

                @media only screen and (max-width: 480px) {
                  margin-top: 10px;
                  &:first-child {
                    margin-top: 0;
                  }

                  &:first-child,
                  &:nth-child(2) {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
